<template>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right" id="time">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th>NO.</th>
                    <th>CLIENTE</th>
                    <th>CITA</th>
                    <th>SIN CITA</th>
                    <th>ESTATUS</th>
                    <th>BARBERO</th>
                </thead>
                <tbody>
                    <tr v-for="(diary, index) in diaries" :key="diary.id">
                        <td>{{index + 1 }}</td>
                        <td>
                            <span v-if="diary.customer.id != 7">{{diary.customer.name}}</span>
                            <span v-if="diary.customer.id == 7">({{diary.comments}})</span>
                        </td>
                        <td>{{ showAMPMFormat("2016-01-01 " + diary.time) }}</td>
                        <td></td>
                        <td>
                            <span v-if="diary.sale == null" class="label label-primary">NO HA LLEGADO</span>
                            <!--
                            <span v-if="diary.sale != null && diary.sale.status == 'en espera'" class="label label-warning">{{diary.sale.status | uppercase}}</span>
                            <span v-if="diary.sale != null && diary.sale.status == 'atendiendo'" class="label label-success">{{diary.sale.status | uppercase}}</span>
                            <span v-if="diary.sale != null && diary.sale.status == 'finalizado'" class="label label-danger">{{diary.sale.status | uppercase}}</span>
                            -->
                        </td>
                        <td>{{ diary.employee.short_name }}</td>

                    </tr>
                    <tr v-for="(sale, index) in waitingSales" :key='sale.id'>
                        <td>{{index + 1 }}</td>
                        <td>
                            <span v-if="sale.customer.id != 7">{{sale.customer.name}}</span>
                            <span v-if="sale.customer2 != ''"><br/>{{sale.customer2}}</span>
                            <span v-if="sale.customer.id == 7">({{sale.comments}})</span>
                        </td>
                        <td><span v-if="sale.diary != null">{{showAMPMFormat("2016-01-01 " + sale.diary.time)}}</span></td>
                        <td>{{ showAMPMFormat(sale.created_at) }}</td>
                        <td>
                            <span v-if="sale.status == 'en espera'" class="label label-warning">{{sale.status | uppercase}}</span>
                            <span v-if="sale.status == 'atendiendo'" class="label label-success">{{sale.status | uppercase}}</span>
                            <span v-if="sale.status == 'finalizado'" class="label label-danger">{{sale.status | uppercase}}</span>
                        </td>
                        <td>
                            <span v-if="sale.employee">{{sale.employee.short_name}}</span>
                            <span v-if="sale.employee2"><br/>{{sale.employee2.short_name}}</span>
                        </td>
                    </tr>
                    <tr v-for="(sale, index) in attendingSales" :key='sale.id'>
                        <td>{{index + 1 }}</td>
                        <td>
                            <span v-if="sale.customer.id != 7">{{sale.customer.name}}</span>
                            <span v-if="sale.customer2 != ''"><br/>{{sale.customer2}}</span>
                            <span v-if="sale.customer.id == 7">({{sale.comments}})</span>
                        </td>
                        <td><span v-if="sale.diary != null">{{showAMPMFormat("2016-01-01 " + sale.diary.time)}}</span></td>
                        <td>{{ showAMPMFormat(sale.created_at) }}</td>
                        <td>
                            <span v-if="sale.status == 'en espera'" class="label label-warning">{{sale.status | uppercase}}</span>
                            <span v-if="sale.status == 'atendiendo'" class="label label-success">{{sale.status | uppercase}}</span>
                            <span v-if="sale.status == 'finalizado'" class="label label-danger">{{sale.status | uppercase}}</span>
                        </td>
                        <td>
                            <span v-if="sale.employee">{{sale.employee.short_name}}</span>
                            <span v-if="sale.employee2"><br/>{{sale.employee2.short_name}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        props: ['subsidiary'],
        data() {
            return {
                sales: [],
                diaries: [],
                error: null,
            };
        },
        mounted: function () {
            this.startTime();
            this.getCurrentSales();    
        },
        computed: {
            waitingSales: function () {
                var waitingSales = this.sales.filter(sale => sale.status == 'en espera');
                return _.orderBy(waitingSales, 'created_at');
            },
            attendingSales: function () {
                var attendingSales = this.sales.filter(sale => sale.status == 'atendiendo');
                return _.orderBy(attendingSales, 'created_at');
            },
        },
        methods: {
            showAMPMFormat(datetimestring) {
                var t = datetimestring.split(/[- :]/);
                var datetime = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
                var time = datetime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                return time;
            },
            getCurrentSales () {
                var self = this;
                this.$http.get('/currentSales')
                .then(function (response) {
                    this.sales = response.data.sales;
                    this.diaries = response.data.diaries;
                    var t = setTimeout(function () {
                        self.getCurrentSales();
                    }, 20000);
                },function (error) {
                    this.error = error.data.message
                });
            },
            checkTime(i) {
            return (i < 10) ? "0" + i : i;
            },
            startTime() {
                var self = this;
                var today = new Date();
                 var time = today.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
                $("#time").html(time);
                var t = setTimeout(function () {
                    self.startTime();
                }, 1000);
            }
        }
    }
</script>
