<template>
<div>
    <a href="#" data-toggle="tooltip" data-placement="top" title="Agregar producto o servicios" @click="openModal">
        <i class="fa fa-cart-plus fa-2x"></i>
    </a>

    <div class="modal fade" :id="'modal-add-product-service-'+sale.id" tabindex="-1" role="dialog" :aria-labelledby="'modal-add-product-service-'+sale.id+'Label'">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" :id="'modal-add-product-service-'+sale.id+'Label'">Agregar servicios o productos a la nota. <small><strong>Folio:</strong> {{sale.id}}</small></h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" v-if="sale_error">
              {{sale_error}}
            </div>
            <div class="alert alert-info" v-if="message">
              {{message}}
            </div>
            <div class="container" style="width:100%;">
                <div class="row">
                    <div class="col-md-6 container">
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Servicio(s)</h4>    
                            </div>
                            <div class="col-md-6">
                                <select name="service" id="service" class="select2 form-control" style="width:100%;">
                                    <option v-for="service in services" :key="service" :value="service.id">{{ service.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-success" @click="addService()" value="Añadir"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h4>Producto(s)</h4>    
                            </div>
                            <div class="col-md-6">
                                <select name="product" id="product" class="select2 form-control" style="width:100%;">
                                    <option v-for="product in products" :key="product" :value="product.id">{{ product.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-success" @click="addProduct" value="Añadir"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h4>Paquete(s)</h4>    
                            </div>
                            <div class="col-md-6">
                                <select name="package" id="package" class="select2 form-control" style="width:100%;">
                                    <option v-for="packagee in packages" :key="packagee" :value="packagee.id">{{ packagee.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-success" @click="addPackage" value="Añadir"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="table" id="contentTable">
                            <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Opciones</th>
                                </tr>
                                <tr v-for="(sale_service, index) in sale_services" :key="sale_service.service_id">
                                    <td>
                                        <input type='hidden' v-model="sale_service.service_id"/>
                                        {{sale_service.service_name}}
                                    </td>
                                    <td>
                                        <input class='form-control' type='number' min='1' v-model="sale_service.qty"/>
                                    </td>
                                    <td><button class='btn btn-danger' @click="removeService(index,sale_service.service_id)">Borrar</button></td>
                                </tr>
                                <tr v-for="(sale_product, index) in sale_products" :key="sale_product.product_id">
                                    <td>
                                        <input type='hidden' v-model="sale_product.product_id"/>
                                        {{sale_product.product_name}}
                                    </td>
                                    <td>
                                        <input class='form-control' type='number' min='1' v-model="sale_product.qty"/>
                                    </td>
                                    <td><button class='btn btn-danger' @click="removeProduct(index,sale_product.product_id)">Borrar</button></td>
                                </tr>
                                <tr v-for="(sale_package, index) in sale_packages" :key="sale_package.package_id">
                                    <td>
                                        <input type='hidden' v-model="sale_package.package_id"/>
                                        {{sale_package.package_name}}
                                    </td>
                                    <td>
                                        <input class='form-control' type='number' min='1' v-model="sale_package.qty"/>
                                    </td>
                                    <td><button class='btn btn-danger' @click="removePackage(index,sale_package.package_id)">Borrar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button type="submit" class="btn btn-default" @click="updateSale">Guardar</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>

    export default {
        props: ['sale', 'sale_id', 'services', 'products', 'packages'],
        data() {
            return {
                sale_error: false,
                message: '',
                sale_services: [],
                sale_products: [],
                sale_packages: [],
            }
        },
        mounted: function () {
            $('#service').select2();
            $('#product').select2();
            $('#package').select2();
        },
        methods: {
            openModal () {
                $('#modal-add-product-service-'+this.sale.id).modal('show');
                $('#service').select2();
                $('#product').select2();
                $('#package').select2();
            },
            addService () {
                if($("#service").val() != null) {
                    this.sale_services.push({
                        service_id : $("#service").val(),
                        service_name : $("#service option:selected").text(),
                        qty: 1,
                    });
                    $('#service option:selected').attr('disabled','disabled');
                    $("#service").val("");
                    $('#service').select2();
                }
            },
            addProduct () {
                if($("#product").val() != null) {
                    this.sale_products.push({
                        product_id : $("#product").val(),
                        product_name : $("#product option:selected").text(),
                        qty: 1,
                    });
                    $('#product option:selected').attr('disabled','disabled');
                    $("#product").val("");
                    $('#product').select2();
                }
            },
            addPackage () {
                if($("#package").val() != null) {
                    this.sale_packages.push({
                        package_id : $("#package").val(),
                        package_name : $("#package option:selected").text(),
                        qty: 1,
                    });
                    $('#package option:selected').attr('disabled','disabled');
                    $("#package").val("");
                    $('#package').select2();
                }
            },
            removeProduct(index, id) {
                this.sale_products.splice(index, 1);
                $('#product option[value="' + id + '"]').removeAttr('disabled');
                $('#product').select2();
            },
            removeService(index, id) {
                this.sale_services.splice(index, 1);
                $('#service option[value="' + id + '"]').removeAttr('disabled');
                $('#service').select2();
            },
            removePackage(index, id) {
                this.sale_packages.splice(index, 1);
                $('#package option[value="' + id + '"]').removeAttr('disabled');
                $('#package').select2();
            },  
            getCurrentServicePrice(service) {
                if(service.promotionservices[0] != null) {
                    return service.promotionservices[0].price;
                } else {
                    return service.sell_price;
                }
            },
            updateSale() {
                this.sale_error = false;
                var data = {
                    sale: this.sale,
                    sale_services: this.sale_services,
                    sale_products: this.sale_products,
                    sale_packages: this.sale_packages,
                }

                this.$http.post('/home/sales/addSaleContents', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(function (response){
                    this.message = response.data.message;
                    this.sale_products = [];
                    this.sale_services = [];
                    this.sale_packages = [];
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateNotFinishedSale', response.data.sale);
                    $('#modal-add-product-service-'+this.sale.id).modal('hide');
                },function (error){
                    this.sale_error = error.data.error;
                });
            }
        }
    }
</script>