<template>
<div class="col-sm-2">
    <a href="#" data-toggle="tooltip" data-placement="top" title="Agregar a compra" @click="openModal">
        <!-- <i class="fa fa-plus fa-2x"></i> -->
        Agregar
    </a>

    <div class="modal fade" :id="'modal-add-product-service-'+sale.id" tabindex="-1" role="dialog" :aria-labelledby="'modal-add-product-service-'+sale.id+'Label'">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" :id="'modal-add-product-service-'+sale.id+'Label'">Agregar servicios o productos a la nota. <small><strong>Folio:</strong> {{sale.id}}</small></h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" v-if="sale_error">
              {{sale_error}}
            </div>
            <div class="alert alert-info" v-if="message">
              {{message}}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4>Servicios</h4>

                    <div v-for="i in servicesRowCount" class="row" :key="i">    
                        <div class="col-md-4" v-for="service in servicesCountInRow(i)" :key="service.id">
                            <a class="thumbnail" href="#" @click="addService(service)">
                                <img v-bind:src="(service.image ? service.image.path : 'http://placehold.it/200x200')" class="img-responsive">
                                <div class="caption">
                                    <h5>{{service.name}}</h5>
                                    <p>$ {{getCurrentServicePrice(service)}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Productos</h4>
                    <div v-for="i in productsRowCount" class="row" :key="i">
                        <div class="col-md-4" v-for="product in productsCountInRow(i)" :key="product.id">
                            <a class="thumbnail" href="#" @click="addProduct(product)">
                                <img v-bind:src="(product.image ? product.image.path : 'http://placehold.it/200x200')" class="img-responsive">
                                <div class="caption">
                                    <h5>{{product.name}}</h5>
                                    <p>stock: {{product.existence}}</p>
                                    <p>$ {{product.sell_price}}</p>
                              </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
    export default {
        props: ['sale', 'sale_id', 'services', 'products'],
        data() {
            return {
                sale_error: false,
                message: '',
                sale_services: [],
                sale_products: [],
                numberOfColumns: 3,
            }
        },
        mounted: function () {
        },
        computed: {
            servicesRowCount: function () {
                return Math.floor(((this.services.length - 1) / this.numberOfColumns)) + 1
            },
            productsRowCount: function () {
                return Math.floor(((this.services.length - 1) / this.numberOfColumns)) + 1
            }
        },
        methods: {
            servicesCountInRow:function(index){
                return this.services.slice((index - 1) * this.numberOfColumns, index * this.numberOfColumns)
            },
            productsCountInRow:function(index){
                return this.products.slice((index - 1) * this.numberOfColumns, index * this.numberOfColumns)
            },
            openModal () {
              $('#modal-add-product-service-'+this.sale.id).modal('show');
            },
            addService (service) {
                this.sale_error = false;
                this.$http.post('/home/sales/'+this.sale.id+'/services', service)
                .then(function (response){
                    this.message = response.data.message;
                    //this.sale_error = response.data.message;
                    $('#modal-add-product-service-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateSaleDetail', response.data.sale);
                    // updateSaleDetail
                },function (error){
                    this.sale_error = error.data.message;
                    //this.sale_error = JSON.stringify(error);
                });
            },
            addProduct (product) {
                this.sale_error = false;
                this.$http.post('/home/sales/'+this.sale.id+'/products', product)
                .then(function (response){
                    this.message = response.data.message;
                    $('#modal-add-product-service-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateSaleDetail', response.data.sale);
                    this.$eventHub.$emit('updateProducts', response.data.products);
                },function (error){
                    this.sale_error = error.data.message;
                });
            },
            getCurrentServicePrice(service) {
                if(service.promotionservices[0] != null) {
                    return service.promotionservices[0].price;
                } else {

                    if(service.subsidiary_prices.length > 0) {
                        for (var i = service.subsidiary_prices.length - 1; i >= 0; i--) {
                            if(service.subsidiary_prices[i].subsidiary_id == this.sale.subsidiary_id) {
                                return service.subsidiary_prices[i].price;
                            }
                        }
                    }
                    return service.sell_price;
                }
            }
        }
    }
</script>
