<template>
    <div class="panel panel-default" v-if="diaries.length > 0">
        <div class="panel-heading danger-animation">
            Recordar cita de los clientes: <br>
            <ul>
                <li v-for="diary in diaries">
                    ({{formatTime(diary.time)}}): {{diary.customer.name}} - {{diary.customer.phone}}
                    <a href="javascript:;" @click="markAsRead(diary)">
                        X
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['sale', 'sale_id', 'services', 'products'],
        data() {
            return {
                error: false,
                diaries: [],
            }
        },
        mounted: function () {
            this.getNextDiary();
            var intervalDiaries = setInterval(() => this.getNextDiary(), (1000 * 60) * 20);
        },
        methods: {
            getNextDiary (service) {
                this.error = false;
                this.$http.get('/home/diary/next')
                .then(
                    (response) => this.diaries = response.data.diaries,
                    (error) => this.error = error.data.message
                );
            },
            formatTime(time) {
                var time = time.split(':');
                var hour = time[0] <= 12 ? time[0] : time[0] - 12;
                var at = time[0] <= 12 ? ' am' : ' pm';
                return hour+':'+time[1]+at;
            },
            markAsRead(diary) {

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };
                
                this.$http.put('/home/diary/'+diary.id+'/read',{},{headers})
                .then(function (response){
                    this.diaries.splice(this.diaries.indexOf(diary), 1);
                });
            }
        }
    }
</script>
