<template>
<div>
    <a href="javascript:void(0);" class="btn btn-link" @click="addRow()"> Agregar fila</a>
    <div class="alert alert-danger" v-if="article_error">
        {{article_error}}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre article</th>
                <th>Cantidad existente</th>
                <th>Ajuste</th>
                <th>Cantidad real</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(article, index) in articles" :key="article.id">
                <td>
                    <input type="text" :name="'articles['+index+'][key]'" @keyup.enter="searchProd(article)" v-model="article.key">
                </td>
                <td>
                    {{article.name}}
                </td>
                <td>
                    {{article.existence}}
                    <input type="hidden" :name="'articles['+index+'][current_existence]'" v-model="article.existence">
                </td>
                <td>
                    <input type="number" :name="'articles['+index+'][qty]'" @change="updateQty(article)" v-model="article.qty">
                </td>
                <td>
                    {{article.real_existence}}
                    <input type="hidden" :name="'articles['+index+'][real_existence]'" :value="article.real_existence">
                    <input type="hidden" :name="'articles['+index+'][id]'" v-model="article.id">
                    <button type="button" class="btn btn-link" @click="removeRow(article)">&times;</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
            <button type="button" class="btn btn-default" @click="createAdjustment">Guardar</button>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                article_error: false,
                articles: [
                    {
                        id: false,
                        key: '',
                        name: '',
                        qty: 1,
                        existence: 0,
                        real_existence: 0
                    }
                ]
            };
        },
        methods: {
            searchProd (article) {
                this.article_error = false;
                this.$http.get('/home/api/articles/'+article.key, {params: {subsidiary_id: $('#subsidiary_id').val()}})
                .then(function (response){
                    article.id = response.data.article.id;
                    article.name = response.data.article.name;
                    article.existence = response.data.article.existence;
                    article.qty = 1;
                },function (error){
                    this.article_error = error.data.message
                });
            },
            addRow () {
                this.articles.push({
                    id: false,
                    key: '',
                    name: '',
                    qty: 0,
                    existence: 0,
                    real_existence: 0
                });
            },
            removeRow (article) {
                var index = this.articles.indexOf(article);
                this.articles.splice(index, 1);
            },
            createAdjustment () {
                $('.form')[0].submit();
            },
            updateQty (article) {
                article.real_existence = parseInt(article.existence) + parseInt(article.qty);
            },
        }
    }
</script>
