<template>
        
    <div class="modal fade" id="modal-clock-attendance-device" tabindex="-1" role="dialog" aria-labelledby="modal-clock-attendance-deviceLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-clock-attendance-deviceLabel">Bienvenido</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <img v-bind:src="employee.avatar" class="thumbnail img-responsive">
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="code" class="control-label">Clave de empleado *</label>
                        <input type="code" class="form-control" id="code" name="code" required="required" v-model="employee.code" @keyup.enter="tryMarkAttendance">
                    </div>

                    <div class="form-group">
                        <label for="name" class="control-label">Nombre empleado *</label>
                        <input type="name" class="form-control" id="name" name="name" required="required" v-model="employee.name" disabled="disabled">
                    </div>

                    <div class="alert alert-danger" v-if="error">
                        {{error}}
                    </div>

                    <h2 class="text-center">
                        {{message}}
                    </h2>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                error: false,
                message: '',
                default_avatar: '',
                checking: false,
                employee: {
                    code: '',
                    avatar: '',
                    name: ''
                }
            };
        },
        methods: {
            tryMarkAttendance () {
                this.error = false;
                if (this.checking) {
                    return false;
                }
                this.checking = true;
                this.$http.get('/home/attendance/get-url/'+this.employee.code, this.employee)
                .then(function (response){
                    window.open(response.data.url);
                },function (error){
                    this.checking = false;
                    this.error = error.data.message
                });
            },
            reset () {
                this.message = '',
                this.employee = {
                    code: '',
                    avatar: '',
                    name: ''
                }
            }
        }
    }
</script>
