<template>
    <div v-bind:class="{ 'col-md-4': show_header }">
        <div class="panel panel-default">
            <div class="panel-heading" v-if="show_header">Cancelar/Editar nota <p class="text-info" v-if="message"> -- {{message}}</p></div>
            <div class="panel-body">
                <p class="text-info" v-if="!show_header && message"> -- {{message}}</p>
                <div class="form-group">
                    <label for="subsidiary_id">Sucursal *</label>
                    <select id="subsidiary_id" v-model="subsidiary_id" class="form-control">
                        <option value="">Selecciona uno por favor..</option>
                        <option v-for="subsidiary in subsidiaries" :value="subsidiary.id" :key="subsidiary.id">{{subsidiary.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="folio">Folio *</label>
                    <input type="text" class="form-control" id="folio" v-model="folio" @keyup.enter="getSaleByFolio">
                    <p class="text-danger" v-if="error">{{error}}</p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="getSaleByFolio">Buscar</button>
                </div>

                <div v-if="sale">
                    <hr>
                    <p><strong>Folio:</strong> {{ sale.folio }}</p>
                    <p><strong>Fecha y hora:</strong> {{sale.created_at}}</p>
                    <p><strong>Cliente:</strong> {{ sale.customer.name }}</p>
                    <p><strong>Barbero:</strong> {{ sale.employee.short_name }}</p>
                    <p><strong>Total:</strong> $ {{ sale.total }}</p>

                    <div class="form-group">
                        <button type="button" class="btn btn-danger" @click="cancelSale">Cancelar</button>
                        <a class="btn btn-success" :href="'/home/sales/'+sale.id+'/editPayments'" >Editar</a>
                    </div>
                </div>
                <div v-if="laundry_service">
                    <hr>
                    <p><strong>Folio:</strong> {{ laundry_service.folio }}</p>
                    <p><strong>Fecha y hora:</strong> {{laundry_service.created_at}}</p>
                    <p><strong>Cliente:</strong> {{ laundry_service.customer_subsidiary.name }}</p>
                    <p><strong>Total:</strong> $ {{ laundry_service.amount }}</p>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" @click="cancelLaundryService">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['subsidiaries', 'show_header'],
        data() {
            return {
                error: false,
                message: false,
                folio: '',
                subsidiary_id: '',
                sale: false,
                laundry_service: false,
            }
        },
        methods: {
            getSaleByFolio () {
                this.error = false;
                this.message = false;
                this.sale = false;
                this.laundry_service = false;
                if (this.subsidiary_id == '') {
                    return this.message = 'Selecciona una Sucursal';
                }
                
                var data = {
                    subsidiary_id: this.subsidiary_id
                }
                
                if(this.subsidiary_id != 11){
                    this.$http.get('/home/search/sales/'+this.folio, {params: data})
                    .then(function (response){
                        this.message = response.data.message;
                        this.sale = response.data.sale;
                    },function (error){
                        this.error = error.data.message;
                    });
                } else {
                    this.$http.get('/home/laundry-services/'+this.folio+'/search/'+this.subsidiary_id)
                    .then(function (response){
                        this.message = response.data.message;
                        this.laundry_service = response.data.laundry_service;
                    },function (error){
                        this.error = error.data.message;
                    });
                }
               
                
            },
            cancelLaundryService(){
                this.error = false;
                this.message = false;
                this.$http.get('/home/laundry-services/'+this.laundry_service.id+'/cancel')
                .then(function (response){
                    this.message = response.data.message;
                },function (error){
                    this.error = error.data.message
                });
            },
            cancelSale () {
                this.error = false;
                this.message = false;
                var sale_id = this.sale.id;
                this.$http.delete('/home/delete/sales/'+this.sale.id)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = false;
                    this.folio = '';
                    this.subsidiary_id = '';
                    var self = this;

                    setTimeout(function () {
                        self.message = false;
                    }, 3000);
                },function (error){
                    this.error = error.data.message
                });
            }
        }
    }
</script>
