<template>
    <div class="modal fade" id="modal-cancel-admin-sale" tabindex="-1" role="dialog" aria-labelledby="modal-cancel-admin-sale">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Cancelar/Editar nota.</h4>
                </div>
                <cancel-admin-sale
                    :show_header=false
                    :subsidiaries=subsidiaries
                ></cancel-admin-sale>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['subsidiaries', 'user'],
        data() {
            return {
            };
        },
        mounted: function () {
        }
    }
</script>
