<template>
    <div class="container">
        <reprint-cash-movements-modal
            :cash_register="cash_register"
            :exchange_rate="exchange_rate"
            :minicut="minicut"
            :show_header=false
        ></reprint-cash-movements-modal>
        <finished-services-modal
            :subsidiary="subsidiary_str"
            :finished_sales_count="finished_sales_count"
            :laundry_services="laundry_services"
        ></finished-services-modal>
        <cancel-sale-modal
            :subsidiary="subsidiary_str"
            :user="user_str"
        ></cancel-sale-modal>
        <reprint-turn-sale-modal
            :sales_own="sales_own"
            :laundry_services="laundry_services"
            :subsidiary="subsidiary_str"
            :show_header=false
        ></reprint-turn-sale-modal>

        <div v-if="!cash_register.close && show_content" class="row">
            <div class="col-md-3">
                <reprint-cash-movements
                    :cash_register="cash_register"
                    :exchange_rate="exchange_rate"
                    :minicut="minicut"
                    :show_header=true
                ></reprint-cash-movements>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Servicios terminados <small>Cantidad total</small></div>
                    <div class="panel-body">
                        <h2 class="text-center" v-if="subsidiary.id != 11">{{ finished_sales_count }}</h2>
                        <h2 class="text-center" v-if="subsidiary.id == 11">{{ laundry_services.length }}</h2>
                    </div>
                </div>

                <alert-diary></alert-diary>
            </div>
            <reprint-cuts v-if="subsidiary.id == 11" :cuts="cuts"> </reprint-cuts>
            <cancel-sale v-if="subsidiary.id != 11 && user.access_subsidiary_id == null"
                :show_header=true
            ></cancel-sale>
            <reprint-turn-sale
                :sales_own="sales_own"
                :laundry_services="laundry_services"
                :subsidiary="subsidiary"
                :show_header=true
            ></reprint-turn-sale>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                        <div class="row">
                            <div class="col-md-7">
                                Cajas <span v-if="cash_register != null && cash_register.subsidiary != null && cash_register.subsidiary.id != '05'">({{ cash_register.subsidiary.name }}, {{ cash_register.date }})</span>
                                <small> {{message}}</small>
                            </div>
                            <div class="col-md-3">
                                <span>Espera estimada: {{ time_average }} minutos</span>
                            </div>
                            <div class="col-md-2">
                                <a href="/home/sales/create" style="color: white;">Agregar servicio</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body form-horizontal">
                        <slot></slot>
                        <div class="alert alert-info" v-if="error">
                            {{error}}
                        </div>

                        <div v-if="cash_register.close">
                            <fieldset>
                                <div class="form-group" v-if="subsidiary.key == '05'">
                                    <label for="" class="control-label col-md-2">Fecha: </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control datepicker" v-model="cash_register.date" tabindex="14">
                                    </div>
                                    <label for="" class="control-label col-md-2">Sucursal: </label>
                                    <div class="col-md-4">
                                        <select v-model="cash_register.subsidiary_id" class="form-control">
                                            <option v-for="sub in subsidiaries" :value="sub.id" :key="sub.id">
                                                {{sub.name}}
                                            </option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Turno: </label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="cash_register.turn_id">
                                            <option v-for="turn in turns" :key="turn.id" :value="turn.id">{{turn.name}}</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-2">Total: </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" readonly="readonly" v-model="cash_register.total">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Contraseña de usuario: </label>
                                    <div class="col-md-4">
                                        <input type="password" autocomplete="off" class="form-control" v-model="cash_register.password" tabindex="12">
                                    </div>
                                    <label class="control-label col-md-2">Fondo fijo: </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" readonly="readonly" :value="imprest">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-2">
                                        <button type="button" class="btn btn-primary" @click="openCash">Abrir</button>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Moneda Nacional</th>
                                                <th>Cantidad</th>
                                                <th>Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>$ .50</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.fiftycents" tabindex="1"></td>
                                                <td>{{cash_register.fiftycents * .50}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 1</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.onepeso" tabindex="2"></td>
                                                <td>{{cash_register.onepeso * 1}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 2</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.twopesos" tabindex="3"></td>
                                                <td>{{cash_register.twopesos * 2}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 5</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.fivepesos" tabindex="4"></td>
                                                <td>{{cash_register.fivepesos * 5}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 10</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.tenpesos" tabindex="5"></td>
                                                <td>{{cash_register.tenpesos * 10}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 20</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.twentypesos" tabindex="6"></td>
                                                <td>{{cash_register.twentypesos * 20}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Moneda Nacional</th>
                                                <th>Cantidad</th>
                                                <th>Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>$ 50</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.fiftypesos" tabindex="7"></td>
                                                <td>{{cash_register.fiftypesos * 50}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 100</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.hundredpesos" tabindex="8"></td>
                                                <td>{{cash_register.hundredpesos * 100}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 200</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.twohundredpesos" tabindex="9"></td>
                                                <td>{{cash_register.twohundredpesos * 200}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 500</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.fivehundredpesos" tabindex="10"></td>
                                                <td>{{cash_register.fivehundredpesos * 500}}</td>
                                            </tr>
                                            <tr>
                                                <th>$ 1000</th>
                                                <td><input type="number" min="0" @keyup="updateTotal" @change="updateTotal" class="form-control" v-model="cash_register.onethousandpesos" tabindex="11"></td>
                                                <td>{{cash_register.onethousandpesos * 1000}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </fieldset>
                        </div>

                        <div v-if="!cash_register.close && subsidiary.id != 11" class="row">
                            <div class="col-md-12">
                                <h5>Servicios activos</h5>

                                <table class="table table-striped datatables" v-if="subsidiary.id == 11" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>folio</th>
                                            <th>Fecha</th>
                                            <th>Sucursal</th>
                                            <th>Monto</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(index, laundry_service) in laundry_services" :key="laundry_service.id">
                                            <td>{{ laundry_service.folio }}</td>
                                            <td>{{ laundry_service.date }}</td>
                                            <td>{{ laundry_service.customer_subsidiary.name }}</td>
                                            <td>{{ laundry_service.amount }}</td>
                                            <td><a :href="'http://'+subsidiary.key+'.lionbarbershop.com/home/laundry-services/'+laundry_service.id+'/edit'">Editar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table" v-if="subsidiary.id != 11">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Hora</th>
                                            <th>Cliente</th>
                                            <th>Barbero</th>
                                            <th>Servicios</th>
                                            <th>Productos</th>
                                            <th>$ Total</th>
                                            <th>Status</th>
                                            <th>Tiempo</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="(sale, index) in waitingSales" :key="sale.id">
                                            <td>{{index + 1 }}</td>
                                            <td>{{getHour(sale.created_at)}}</td>
                                            <td>
                                                {{sale.customer.name}}
                                                <span v-if="sale.customer2 != ''"><br/>{{sale.customer2}}</span>
                                                <span v-if="sale.customer.id == 7">({{sale.comments}})</span>
                                            </td>
                                            <td>
                                                <span v-if="sale.employee">{{sale.employee.short_name}}</span>
                                                <span v-if="sale.employee2"><br/>{{sale.employee2.short_name}}</span>
                                            </td>
                                            <td><span v-for="service in servicesWithoutWaiting(sale)" :key="service.id"> {{service.service.name}} ({{service.qty}}) <br></span></td>
                                            <td>{{totalProducts(sale.products)}}</td>
                                            <td>$ {{sale.total}}</td>
                                            <td><span class="label label-warning text-uppercase">{{sale.status}}</span></td>
                                            <td>0:0 m</td>
                                            <td>
                                                <div class="row">
                                                    <sale-detail 
                                                        :sale_original="sale"
                                                        :exchange_rate_id="exchange_rate_id"
                                                        :exchange_rate="exchange_rate"
                                                        :barbers_original="barbers"
                                                        ></sale-detail>
                                                    <add-product-service 
                                                        :sale="sale"
                                                        :services="services"
                                                        :products="products"
                                                    ></add-product-service>
                                                 </div>
                                            </td>
                                        </tr>
                                        <tr v-for="(sale, index) in attendingSales" :key="sale.id">
                                            <td>{{index + 1 }}</td>
                                            <td>{{getHour(sale.created_at)}}</td>
                                            <td>
                                                {{sale.customer.name}}
                                                <span v-if="sale.customer2 != ''"><br/>{{sale.customer2}}</span>
                                                <span v-if="sale.customer.id == 7">({{sale.comments}})</span>
                                            </td>
                                            <td>
                                            <span v-if="sale.employee">{{sale.employee.short_name}}</span>
                                            <span v-if="sale.employee2"><br/>{{sale.employee2.short_name}}</span>
                                            </td>
                                            <td><span v-for="service in servicesWithoutWaiting(sale)" :key="service.id"> {{service.service.name}} ({{service.qty}}) <br></span></td>
                                            <td>{{totalProducts(sale.products)}}</td>
                                            <td>$ {{sale.total}}</td>
                                            <td><span class="label label-success text-uppercase">{{sale.status}}</span></td>
                                            <td>{{ sale.transcurred_time }} m </td>
                                            <td>
                                                <div class="row">
                                                    <sale-detail 
                                                        :sale_original="sale"
                                                        :exchange_rate_id="exchange_rate_id"
                                                        :exchange_rate="exchange_rate"
                                                        :barbers_original="barbers"
                                                        ></sale-detail>
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                    <add-product-service 
                                                        :sale="sale"
                                                        :services="services"
                                                        :products="products"
                                                    ></add-product-service>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-for="(sale, index) in finishedSales" :key="sale.id">
                                            <td>{{index + 1 }}</td>
                                            <td>{{getHour(sale.created_at)}}</td>
                                            <td>
                                                {{sale.customer.name}}
                                                <span v-if="sale.customer2 != ''"><br/>{{sale.customer2}}</span>
                                                <span v-if="sale.customer.id == 7">({{sale.comments}})</span>
                                            </td>
                                            <td>
                                            <span v-if="sale.employee">{{sale.employee.short_name}}</span>
                                            <span v-if="sale.employee2"><br/>{{sale.employee2.short_name}}</span>
                                            </td>
                                            <td><span v-for="service in servicesWithoutWaiting(sale)" :key="service.id"> {{service.service.name}} ({{service.qty}}) <br></span></td>
                                            <td>{{totalProducts(sale.products)}}</td>
                                            <td>$ {{sale.total}}</td>
                                            <td><span class="label label-danger text-uppercase">{{sale.status}}</span></td>
                                            <td>{{ sale.transcurred_time }} m </td>
                                            <td>
                                                <div class="row">
                                                    <sale-detail 
                                                        :sale_original="sale"
                                                        :exchange_rate_id="exchange_rate_id"
                                                        :exchange_rate="exchange_rate"
                                                        :barbers_original="barbers"
                                                        ></sale-detail>
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                    <add-product-service 
                                                        :sale="sale"
                                                        :services="services"
                                                        :products="products"
                                                    ></add-product-service>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['imprest', 'services', 'products', 'minicut','exchange_rate_id', 'exchange_rate', 'turns', 'barbers', 'sales_own', 'subsidiary_str', 'laundry_services', 'cuts', 'user_str', 'subsidiaries_str','show_content', 'time_average'],
        data() {
            return {
                error: false,
                message: '',
                cash_register: {
                    close: true,
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    total: 0,
                    turn_id: 1,
                    code: '',
                    password: '',
                    date: '',
                    subsidiary_id: 0,
                },
                sales: [],
                finished_sales_count: 0,
                finished_sales_total: 0,
                sale_print_id: '',
                movement_id: '',
                user: '',
                subsidiary: '',
                subsidiaries: ''
            };
        },
        mounted: function () {
            this.subsidiary = JSON.parse(this.subsidiary_str);
            this.subsidiaries = JSON.parse(this.subsidiaries_str);
            this.user = JSON.parse(this.user_str);

            var today = new Date();
            var day = today.getDate();  
            var month = today.getMonth() + 1;
            var year = today.getFullYear();
            
            day = day.toString().length > 1 ? day : "0" + day;
            month = month.toString().length > 1 ? month : "0" + month;
            this.cash_register.date = year + "-" + month + "-" + day;

            if(this.laundry_services){
                this.laundry_services = JSON.parse(this.laundry_services);
            }
            this.getOpenCashRegister();
            this.getCurrentSales();

            this.$eventHub.$on('updateSale', (sale) => {
                for (var i = 0; i < this.sales.length; i++) {
                    if(this.sales[i].id == sale.id){
                        this.sales.remove
                        this.sales.splice(i, 1);
                        this.sales.push(sale);
                    }
                }
            });

            this.$eventHub.$on('updateProducts', (products) => {
                this.products = products;
            });

            this.$eventHub.$on('updateCashRegister', (cash_register) => {
                this.cash_register = cash_register;
            });

            this.$eventHub.$on('updateBarbers', (barbers) => {
                this.barbers = barbers;
            });
            this.cash_register.subsidiary_id = this.subsidiary.id;
        },
        computed: {
            asset_panel () {
                return this.cash_register.total >= 1000 ? 'danger-animation' : '';
            },
            waitingSales: function () {
                var waitingSales = this.sales.filter(sale => sale.status == 'en espera');
                return _.orderBy(waitingSales, 'created_at');
            },
            attendingSales: function () {
                var waitingSales = this.sales.filter(sale => sale.status == 'atendiendo');
                return _.orderBy(waitingSales, 'created_at');
            },
            finishedSales: function () {
                var waitingSales = this.sales.filter(sale => sale.status == 'finalizado');
                return _.orderBy(waitingSales, 'created_at');
            },
        },
        methods: {
            servicesWithoutWaiting (sale) {
                return sale.services;
                // return sale.services.filter(function(s) {
                //     return s.service_id != 19;
                // });
            },
            getOpenCashRegister () {
                this.error = false;
                this.message = false;
                this.$http.get('/home/cash-register')
                .then(function (response){
                    this.message = response.data.message;
                    this.cash_register = response.data.cash_register;
                    if(this.cash_register.close) {
                        $('#cashier-information').hide();
                    } else {
                        $('#cashier-information').show();
                    }
                },function (error){
                    this.message = error.data.message
                });
            },
            openCash (){
                this.message = '';
                this.error = false;
                this.$http.post('/home/cash-register', this.cash_register)
                .then(function (response){
                    this.message = response.data.message;
                    this.cash_register = response.data.cash_register;
                    window.open(response.data.ticket_url)
                    window.location.reload();
                },function (error){
                    this.error = error.data.message
                });
            },
            updateTotal () {
                var total = 0;
                total += parseInt(this.cash_register.fiftycents) * .50;
                total += parseInt(this.cash_register.onepeso) * 1;
                total += parseInt(this.cash_register.twopesos) * 2;
                total += parseInt(this.cash_register.fivepesos) * 5;
                total += parseInt(this.cash_register.tenpesos) * 10;
                total += parseInt(this.cash_register.twentypesos) * 20;
                total += parseInt(this.cash_register.fiftypesos) * 50;
                total += parseInt(this.cash_register.hundredpesos) * 100;
                total += parseInt(this.cash_register.twohundredpesos) * 200;
                total += parseInt(this.cash_register.fivehundredpesos) * 500;
                total += parseInt(this.cash_register.onethousandpesos) * 1000;
                this.cash_register.total = total;
            },
            getCurrentSales () {
                this.error = false;
                this.message = false;
                this.$http.get('/home/sales')
                .then(function (response) {
                    this.sales = response.data.sales;
                    this.finished_sales_count = response.data.finished_sales_count;
                    this.finished_sales_total = response.data.finished_sales_total;

                    this.interval = setInterval(() => {
                        for (var i = 0; i < this.sales.length; i++) {
                            if(this.sales[i].status != 'en espera') {
                                if(this.sales[i].status == 'atendiendo') {
                                    var attended_at = new Date(this.sales[i].attended_at);
                                    var totalSeconds = parseInt((Date.now() - attended_at) / 1000);
                                }
                                if(this.sales[i].status == 'finalizado') {
                                    var attended_at = new Date(this.sales[i].attended_at);
                                    var finished_at = new Date(this.sales[i].finished_at);
                                    var totalSeconds = parseInt((finished_at - attended_at) / 1000);
                                }
                                var minutes = Math.floor(totalSeconds / 60);
                                var seconds = totalSeconds - (minutes * 60);
                                seconds = seconds < 10 ? "0" + seconds : seconds;  
                                this.sales[i].transcurred_time = minutes + ":" + seconds;
                            }
                        }
                    }, 1000);

                },function (error){
                    this.error = error.data.message
                });
            },
            totalServices (services) {
                var count = 0;
                for (var i = 0; i < services.length; i++) {
                    count += services[i].qty;
                }
                return count;
            },
            totalProducts (products) {
                var count = 0;
                for (var i = 0; i < products.length; i++) {
                    count += products[i].qty;
                }
                return count;
            },
            getHour (created_at) {
                return moment(created_at.replace(' ', 'T'), moment.ISO_8601).format('hh:mm A');
            },
            printCashCut () {
                if(this.movement_id == ''){
                    return false;
                }

                window.open("/home/cash-register-movements/"+this.movement_id);
            }
        }
    }
</script>
