<template>
    <div>
        <cash-cut-button
            :cash_register="cash_register"
            :exchange_rate="exchange_rate"
            :show_header="show_header"
        ></cash-cut-button>
        <cash-cut-modal
            :cash_register="cash_register"
            :exchange_rate="exchange_rate"
            :show_header="show_header"
        ></cash-cut-modal>
    </div>
</template>

<script>
    export default {
        props: ['cash_register', 'exchange_rate', 'show_header'],
        data() {
            return {
            }
        },
        mounted: function () {
        },
        methods: {
        }
    }
</script>
