<template>
    <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
        Corte Caja
    </a>
</template>

<script>
    export default {
        props: ['cash_register', 'exchange_rate', 'show_header'],
        data() {
            return {
            }
        },
        mounted: function () {
        },
        methods: {
            openModal () {
              $('#modal-charge-cut'+this.cash_register.id).modal('show');
            }
        }
    }
</script>
