<template>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Registro</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="customer in customers" :key="customer">
                <td>{{customer.name}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.created_at}}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        data() {
            return {
                customers: []
            };
        },
        mounted: function () {
            this.$http.get('/customers')
            .then(response => {
                this.customers = JSON.parse(response.data);
            });
        }
    }
</script>
