<template>
    <div class="modal fade" id="modal-finished-services" tabindex="-1" role="dialog" aria-labelledby="modal-finished-services">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Servicios terminados.</h4>
                </div>
                <div class="modal-body">
                    <h2 class="text-center" v-if="subsidiary.id != 11">{{ finished_sales_count }}</h2>
                    <h2 class="text-center" v-if="subsidiary.id == 11">{{ laundry_services.length }}</h2>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['subsidiary', 'finished_sales_count', 'laundry_services'],
        data() {
            return {
            };
        },
        mounted: function () {
        }
    }
</script>
