<template>
    <div class="modal fade" id="modal-login-to-subsidiary" tabindex="-1" role="dialog" aria-labelledby="modal-login-to-subsidiary">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Acceder a sucursal.</h4>
                </div>
                <log-in-to-subsidiary
                    :subsidiaries="subsidiaries"
                    :show_header="false"
                ></log-in-to-subsidiary>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['subsidiaries'],
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>
