<template>
    <div v-bind:class="{ 'col-md-4': show_header }">
        <div class="panel panel-default">
            <div class="panel-heading" v-if="show_header">Acceder a sucursal <p class="text-info" v-if="message"> -- {{message}}</p></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="subsidiary_id">Sucursal *</label>
                    <select id="subsidiary_id" v-model="subsidiary_id" class="form-control">
                        <option value="">Selecciona uno por favor..</option>
                        <option v-for="subsidiary in subsidiaries" :value="subsidiary.id" :key="subsidiary.id">{{subsidiary.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="logInToSubsidiaryAsSupUser">acceder</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['subsidiaries', 'show_header'],
        data() {
            return {
                error: false,
                message: false,
                subsidiary_id: '',
            }
        },
        methods: {
            logInToSubsidiaryAsSupUser () {
                this.message = false;
                if (this.subsidiary_id == '') {
                    return this.message = 'Selecciona una Sucursal';
                }
                this.$http.get('/home/links/subsidiary/'+this.subsidiary_id)
                .then(function (response){
                    // alert(response.data.url);
                    window.open(response.data.url);
                },function (error){
                    this.error = error.data.message
                });
            }
        }
    }
</script>
