<template>
    <div class="modal fade" id="modal-repair-service" tabindex="-1" role="dialog" aria-labelledby="modal-repair-service">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Reparar servicio.</h4>
                </div>
                <repair-service 
                    :barbers="employees"
                    :show_header="show_header"
                ></repair-service>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['employees','show_header'],
        data() {
            return {
                error: false,
            }
        },
        methods: {
        }
    }
</script>
