<template>
    <div v-bind:class="{ 'col-md-3': show_header }">
        <div class="panel panel-default">
            <div class="panel-heading" v-if="show_header">Re-imprimir notas del turno</div>
            <div class="panel-body">
                <div class="form-group">
                    <select v-model="sale_print_id" class="form-control">
                        <option value="">Selecciona uno por favor...</option>
                        <template v-for="sale in sales_own">
                            <option  :value="sale.id" :key="sale.id" v-if="!sale.canceled_by && !sale.is_courtesy">
                                ({{sale.subsidiary.key}} - {{sale.folio}}) $ {{sale.total}}
                            </option>
                            <option  :value="sale.id" :key="sale.id" v-if="!sale.canceled_by && sale.is_courtesy">
                                ({{sale.subsidiary.key}} - {{sale.folio}}) $ {{sale.total}} (Cortesía)
                            </option> 
                            <option  :value="sale.id" :key="sale.id" v-if="sale.canceled_by">
                                ({{sale.subsidiary.key}} - {{sale.folio}}) $ {{sale.total}} C
                            </option>  
                        </template>
                        <template v-for="laundry_service in laundry_services">
                            <option :value="laundry_service.id" :key="laundry_service.id" v-if="!laundry_service.canceled_by">
                                ({{laundry_service.customer_subsidiary.name}} - {{laundry_service.folio}}) $ {{laundry_service.amount}}
                            </option> 
                            <option :value="laundry_service.id" :key="laundry_service.id" v-if="laundry_service.canceled_by">
                                ({{laundry_service.customer_subsidiary.name}} - {{laundry_service.folio}}) $ {{laundry_service.amount}} C
                            </option>  
                        </template>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="printSale">Imprimir</button>
                    <button type="button" class="btn btn-success" @click="editImage">Imagen</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['show_header', 'sales_own', 'subsidiary', 'laundry_services'],
        data() {
            return {
                sale_print_id: '',
            }
        },
        methods: {
            printSale() {
                if(this.sale_print_id == ''){
                    return false;
                }
                if(this.subsidiary.id != 11){
                    window.open("/home/sales/"+this.sale_print_id+"/print");
                } else {
                    window.open("/home/laundry-services/"+this.sale_print_id+"/print");
                }
            },
            editImage() {
                if(this.sale_print_id == ''){
                    return false;
                }
                window.open("/home/sales/"+this.sale_print_id+"/editImage");
            }
        }
    }
</script>
