<template>
    <div class="modal fade" id="modal-reprint-turn-sale" tabindex="-1" role="dialog" aria-labelledby="modal-reprint-turn-sale">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Reimprimir notas de turno.</h4>
                </div>
                <reprint-turn-sale
                    :sales_own="sales_own"
                    :laundry_services="laundry_services"
                    :subsidiary="subsidiary"
                    :show_header="show_header"
                ></reprint-turn-sale>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['show_header', 'sales_own', 'subsidiary', 'laundry_services'],
        data() {
            return {
                sale_print_id: '',
            }
        },
        methods: {
        }
    }
</script>
