<template>
    <div class="modal fade" id="modal-reprint-out-ticket" tabindex="-1" role="dialog" aria-labelledby="modal-reprint-out-ticket">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Imprimir ticket de salida.</h4>
                </div>
                <reprint-out-ticket
                    :show_header="false"
                ></reprint-out-ticket>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['show_header'],
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>