<template>
    <div class="modal fade" id="modal-reprint-cut" tabindex="-1" role="dialog" aria-labelledby="modal-reprint-cut">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Reimprimir cortes de caja.</h4>
                </div>
                <reprint-cuts 
                    :cuts="cuts"
                    :show_header="false"
                ></reprint-cuts>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['cuts','show_header'],
        data() {
            return {
                movement_id: '',
            }
        },
        methods: {
        }
    }
</script>
