<template>
    <div>
    <div class="modal fade" id="modal-reprint-cash-movement" tabindex="-1" role="dialog" aria-labelledby="modal-reprint-cash-movement">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Reimprimir movimientos de caja.</h4>
                </div>
                <reprint-cash-movements
                    :cash_register="cash_register"
                    :exchange_rate="exchange_rate"
                    :minicut="minicut"
                ></reprint-cash-movements>
            </div>
        </div>
    </div>
    <cash-cut-modal
        :cash_register="cash_register"
        :exchange_rate="exchange_rate"
        :show_header="true"
    ></cash-cut-modal>
    </div>
</template>

<script>
    export default {
        props: ['cash_register', 'exchange_rate', 'minicut'],
        data() {
            return {
            };
        },
        mounted: function () {
        },
        computed: {
            asset_panel () {
                return this.cash_register.total >= 1000 ? 'danger-animation' : '';
            }
        },
        methods: {
            printCashCut () {
                if(this.movement_id == ''){
                    return false;
                }
                window.open("/home/cash-register-movements/"+this.movement_id);
            }
        }
    }
</script>
