<template>
<div>
    <div class="modal fade" id="modal-reprint-cash-cut" tabindex="-1" role="dialog" aria-labelledby="modal-reprint-cash-cut">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-finished-services">Reimprimir / realizar corte</h4>
                </div>
                <reprint-cash-cut
                    :subsidiaries="subsidiaries"
                    :turns="turns"
                    :exchange_rate="exchange_rate"
                    :show_header="false"
                ></reprint-cash-cut>
            </div>
        </div>
    </div>
    <cash-cut-modal v-if="showCutButton"
        :cash_register="cash_register"
        :exchange_rate="exchange_rate"
        :show_header="true"
    ></cash-cut-modal>
</div>
</template>

<script>
    export default {
        props: ['show_header','subsidiaries', 'turns', 'exchange_rate'],
        data() {
            return {
                showCutButton: false,
                cash_register: {
                    close: true,
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    total: 0,
                    turn_id: 1,
                    code: '',
                    password: ''
                }
            }
        },
        mounted: function () {
            this.$eventHub.$on('updateCashRegisterReprint', (cash_register) => {
                this.cash_register = cash_register;
                // alert(JSON.stringify(this.cash_register));
            });
            this.$eventHub.$on('updateShowCutButton', (showCutButton) => {
                this.showCutButton = showCutButton;
                // alert(JSON.stringify(this.showCutButton));
            });
        },
        methods: {
        }
    }
</script>
