<template>
    <div class="panel panel-default">
        <div :class="'panel-heading '+asset_panel" v-if="show_header">Reimprimir movimientos de caja</div>
        <div class="panel-body">
            <div v-if="cash_register.movements">
                <div class="form-group">
                    <select v-model="movement_id" class="form-control">
                        <option value="" selected>Selecciona uno por favor...</option>
                        <option v-for="(movement, index) in cash_register.movements" :value="movement.id" :key="movement.id">
                            ({{movement.type}} {{index}}) $ {{movement.total}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-sm" @click="printCashCut">Imprimir</button>
                    <a :href="'/home/cash-register-movements/resume/'+cash_register.id" target="_blank" class="btn btn-primary btn-sm">Resumen</a>
                    <cash-cut
                        :cash_register="cash_register"
                        :exchange_rate="exchange_rate"
                        :show_header="show_header"
                    ></cash-cut>
                </div>
            </div>        
        </div>
        <div :class="'panel-footer '+asset_panel" v-if="cash_register.total >= 1000">
            <mini-cut
                :cash_register="cash_register"
                :exchange_rate="exchange_rate"
                :minicut="minicut"
            ></mini-cut>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['cash_register', 'exchange_rate', 'minicut', 'show_header'],
        data() {
            return {
                'movement_id': ''
            };
        },
        mounted: function () {
        },
        computed: {
            asset_panel () {
                return this.cash_register.total >= 1000 ? 'danger-animation' : '';
            }
        },
        methods: {
            printCashCut () {
                if(this.movement_id == ''){
                    return false;
                }
                window.open("/home/cash-register-movements/"+this.movement_id);
            }
        }
    }
</script>
