<template>
    <div v-bind:class="{ 'col-md-4': show_header }">
        <div class="panel panel-default">
            <div class="panel-heading" v-if="show_header">Reimprimir / realizar corte</div>
            <div class="panel-body">
                <p class="text-info" v-if="message">{{message}}</p>

                <div class="form-group">
                    <label for="subsidiary_id">Sucursal *</label>
                    <select id="subsidiary_id" v-model="subsidiary_id" class="form-control">
                        <option value="">Selecciona uno por favor..</option>
                        <option v-for="subsidiary in subsidiaries" :value="subsidiary.id" :key="subsidiary.id">{{subsidiary.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="date">Fecha *</label>
                    <datepicker v-model="date" :format="dateFormatter" :bootstrap-styling="true" class=""></datepicker>
                </div>

                <div class="form-group">
                    <label for="turn_id">Turno *</label>
                    <select id="turn_id" v-model="turn_id" class="form-control">
                        <option value="">Selecciona uno por favor..</option>
                        <option v-for="turn in turns" :value="turn.id" :key="turn.id">{{turn.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="printCashCut">Imprimir</button>
                    <button type="button" class="btn btn-default" @click="searchCashCut">Buscar</button>
                    <cash-cut-button v-if="showCutButton"
                        :cash_register="cash_register"
                        :exchange_rate="exchange_rate"
                        :show_header="show_header"
                    ></cash-cut-button>
                </div>

            </div>
        </div>
    <cash-cut-modal v-if="showCutButton && show_header"
        :cash_register="cash_register"
        :exchange_rate="exchange_rate"
        :subsidiary_id="subsidiary_id"
        :show_header="true"
    ></cash-cut-modal>
    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker';

    export default {
        props: ['subsidiaries', 'turns', 'exchange_rate', 'show_header'],
        components: {
            Datepicker
        },
        data() {
            return {
                subsidiary_id: '',
                date: '',
                turn_id: '',
                message: false,
                cash_register: {
                    close: true,
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    total: 0,
                    turn_id: 1,
                    code: '',
                    password: ''
                },
                showCutButton: false,
            }
        },
        mounted: function () {
        },
        methods: {
            dateFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            printCashCut () {
                this.message = '';
                if(this.subsidiary_id == '') {
                    return this.message = 'Selecciona una sucursal';
                }
                if(this.date == ''){
                    return this.message = 'Selecciona la fecha';
                }
                if(this.turn_id == ''){
                    return this.message = 'Selecciona el turno';
                }
                this.$http.post('/home/find/cash-register-movements', {
                    subsidiary_id: this.subsidiary_id,
                    date: this.dateFormatter(this.date),
                    turn_id: this.turn_id,
                    type: 'print'
                })
                .then(function (response){
                    window.open("/home/cash-register-movements/print/"+response.data.movement_id);
                },function (error){
                    this.message = error.data.message
                });
                
            },
            searchCashCut() {
                this.message = '';
                this.showCutButton = false;
                if(this.subsidiary_id == '') {
                    return this.message = 'Selecciona una sucursal';
                }
                if(this.date == ''){
                    return this.message = 'Selecciona la fecha';
                }
                if(this.turn_id == ''){
                    return this.message = 'Selecciona el turno';
                }
                this.$http.post('/home/find/cash-register-movements', {
                    subsidiary_id: this.subsidiary_id,
                    date: this.dateFormatter(this.date),
                    turn_id: this.turn_id,
                    type: 'create'
                })
                .then(function (response) {
                    this.cash_register = response.data.cash_register;
                    // alert("antes de dispatch");
                    this.$eventHub.$emit('updateCashRegisterReprint', response.data.cash_register);
                    this.showCutButton = true;
                    this.$eventHub.$emit('updateShowCutButton', this.showCutButton);
                },function (error){
                    this.message = error.data.message
                });
            },
            createCashCut () {
                this.message = '';
                if(this.subsidiary_id == ''){
                    return this.message = 'Selecciona una sucursal';
                }
                if(this.date == ''){
                    return this.message = 'Selecciona la fecha';
                }
                if(this.turn_id == ''){
                    return this.message = 'Selecciona el turno';
                }
                this.$http.post('/home/find/cash-register-movements', {
                    subsidiary_id: this.subsidiary_id,
                    date: this.dateFormatter(this.date),
                    turn_id: this.turn_id,
                    type: 'create'
                })
                .then(function (response) {
                    window.open("/home/cash-register-movements/print/"+response.data.movement_id);
                },function (error) {
                    this.message = error.data.message;
                });
                
            }
        }
    }
</script>
