<template>
    <div>
        <div class="form-group">
            <div class="col-sm-4">
                <strong>Folio:</strong> {{ sale_global.folio }}       
            </div>
            <div class="col-sm-4">
                <strong>Fecha y hora:</strong> {{ sale_global.created_at }}        
            </div>
            <div class="col-sm-4">
                <strong>Cliente:</strong> {{ sale_global.customer.name }}        
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <strong>Total:</strong> $ {{ sale_global.total }}        
            </div>
            <div class="col-sm-4">
                <strong>Cambio:</strong> $ {{ sale_global.money_change }}        
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <strong>Propina:</strong>        
            </div>
            <div class="col-sm-4">
                <input class='form-control' type='number' step='any' min='0' name="tip" id="tip" v-model="sale_global.tip"/> 
            </div>
            <div class="col-sm-2">
                <strong>Barbero:</strong>        
            </div>
            <div class="col-sm-4">
                <select name="employee_id" id="employee_id" class="select2 form-control" v-model="sale_global.employee_id">
                    <option value="0">Seleccionar uno por favor...</option>
                    <option v-for="barber in barbers" :value="barber.id" :key="barber.id">{{barber.short_name}}</option>
                </select>        
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <input type="button" class="btn btn-primary" value="Agregar un tipo de pago" @click="addPayment()"/>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de pago</th>
                    <th>Moneda</th>
                    <th>Cantidad</th>
                    <th>Cancelar</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(payment, index) in sale_global.payments" :key="payment.id">
                    <input type="hidden" name="payment_ids[]" :value="payment.id"/>
                    <td>
                        <select class="form-control" name="methods[]" v-model="payment.method">
                            <option value="Efectivo">Efectivo</option>
                            <option value="Tarjeta">Tarjeta</option>
                            <option value="Monedero">Monedero</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" name="coins[]" v-model="payment.coin">
                            <option value="mxn">mxn</option>
                            <option value="usd">usd</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" min="0" step="any" name="totals[]" class="form-control" v-model="payment.total">
                    </td>
                    <td>
                        <input v-if="payment.id == 0" type="button" class="btn btn-danger" value="Cancelar" @click="removePayment(index, payment.id)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['sale', 'barbers'],
        data() {
            return {
                'sale_global': null,
            };
        },
        created: function () {
            this.sale_global = this.sale;
        },
        methods: {
            addPayment () {
                if(this.sale_global.payments.length < 3) {
                    this.sale_global.payments.push({
                        id : 0,
                        method : "Efectivo",
                        total: 0,
                        sale_id: this.sale_global.id,
                        coin: "mxn",
                        cash_register_id: this.sale_global.cash_register_id
                    });
                }
            },
            removePayment(index, id) {
                this.sale_global.payments.splice(index, 1);
            },
        }
    }
</script>
