<template>
    <div>
    <a href="#" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
        <i class="fa fa-info-circle fa-2x"></i>
    </a>

    <div class="modal fade" :id="'modal-sale-detail-'+sale.id" tabindex="-1" role="dialog" :aria-labelledby="'modal-sale-detail-'+sale.id+'Label'">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" :id="'modal-sale-detail-'+sale.id+'Label'">Detalle del servicio. <small><strong>Folio:</strong> {{sale.id}}</small></h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" v-if="sale_error">
              {{sale_error}}
            </div>
            <div v-if="more_than_7_days" class="alert alert-danger"> Se cobrará almacenaje por espera mayor a 1 semana</div>

            <div v-if="!auth_view" class="row">
                <div class="col-md-4">
                    <p>
                        <strong>Fecha y hora:</strong> {{sale.created_at}}
                    </p>

                    <p>
                        <strong>Encargado(a):</strong> 
                        <span style="width: 300px; display: inline-block;">
                            <select v-model="barber_id" class="form-control danger-animation">
                                <option value="">Seleccione uno por favor..</option>
                                <option v-for="barber in barbers" :key="barber" :value="barber.id">{{barber.short_name}}</option>
                                <template v-if="sale.employee.id">
                                    <option :value="sale.employee.id" selected="selected">{{sale.employee.short_name}}</option>
                                </template>
                            </select>
                        </span>
                    </p>

                    <p v-if="has2x1Promotion">
                        <strong>Encargado(a) 2:</strong> 
                        <span style="width: 300px; display: inline-block;">
                            <select v-model="barber2_id" class="form-control danger-animation">
                                <option value="">Seleccione uno por favor..</option>
                                <option v-for="barber in barbers" :key="barber" :value="barber.id" >{{barber.short_name}}</option>
                                <template v-if="sale.employee2.id">
                                    <option :value="sale.employee2.id" selected="selected">{{sale.employee2.short_name}}</option>
                                </template>
                            </select>
                        </span>
                    </p>
                    <input v-if="!has2x1Promotion" type="hidden" v-model="barber2_id">
                    
                    <p v-if="sale.customer_subsidiary_id != null">
                        <strong>Cliente:</strong> {{sale.customer_subsidiary.name}}
                    </p>
                    <p v-if="sale.customer != null">
                        <strong>Cliente:</strong> {{sale.customer.name}} ({{sale.customer.wallet_number}})
                    </p>
                    <p v-if="sale.customer == null">
                        <strong>Cliente:</strong> {{sale.comments}}
                    </p>

                    <p>
                        <a href="#" class="btn btn-default" @click="markAsAttend" v-if="!sale.attend">Atendiendo</a>
                        <a href="#" class="btn btn-default" @click="markAsFinish" v-if="!sale.finish">Terminado</a>
                        <a href="#" class="btn btn-default" @click="paid = !paid;">Cobrar</a>
                    </p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Servicio / Producto</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="service in sale.services" :key="service">
                                <td>{{ service.service.name }}</td>
                                <td v-if="service.service_id == 23 && wash_quantity <= 5">1-5 kg</td>
                                <td v-else>{{ service.qty }}</td>
                                <td v-if="service.service_id == 23 && wash_quantity <= 5">
                                    {{ service.price * 5 }} 
                                </td>
                                <td v-else>{{ service.price * service.qty }}</td>
                                <td>
                                    <a v-if="!more_than_7_days" href="#" @click="authenticate(sale.id, service.id, 'service')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr v-for="product in sale.products" :key="product">
                                <td>{{ product.product.name }}</td>
                                <td>{{ product.qty }}</td>
                                <td>{{ product.price * product.qty }}</td>
                                <td>
                                    <a href="#" @click="authenticate(sale.id, product.id, 'product')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr v-for="packagee in sale.packages" :key="packagee">
                                <td>{{ packagee.package.name }}</td>
                                <td>{{ packagee.quantity }}</td>
                                <td>{{ packagee.price * packagee.quantity }}</td>
                                <td>
                                    <a href="#" @click="authenticate(sale.id, packagee.id, 'package')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right">Total</th>
                                <td colspan="2" class="text-left">{{total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <div v-if="paid" class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Moneda</h4>
                                <div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="coin.mxn"> MXN
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="coin.usd"> USD
                                        </label>
                                    </div>
                                </div>

                                <h4>Metodos de pago</h4>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.efectivo" @change="updateQty"> Efectivo
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.tarjeta" @change="updateQty"> Tarjeta
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.wallet" @change="updateQty" :disabled="sale.customer == null || sale.customer.services_free == 0"> Monedero 
                                        <template v-if="sale.customer != null">
                                            ({{sale.customer.services_free}} Gratis)
                                        </template>
                                    </label>
                                </div>

                                <div v-if="payment_gateways.tarjeta">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="card_brand" value="visa"> Visa
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="card_brand" value="mastercard"> Mastercard
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="card_brand" value="amex"> American Express
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Ultimos 4 digitos de la tarjeta</label>
                                        <input type="text" class="form-control" v-model="last_four">
                                    </div>
                                </div>

                                <hr>

                                <div class="form-group">
                                    <button 
                                        type="button" 
                                        class="btn btn-pimary btn-lg btn-block" 
                                        @click="markAsPaid"
                                        :disabled="is_paying"
                                    >Cobrar</button>
                                </div>
                                <p class="text-danger">{{error_payment}}</p>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Subtotal $</th>
                                            <td>{{total}}</td>
                                        </tr>
                                        <tr>
                                            <th>Propina $</th>
                                            <td><input type="number" class="form-control" v-model="tip"></td>
                                        </tr>
                                        <tr v-if="sale.has_birthday">
                                            <th>Descuento (cumpleaños) $</th>
                                            <td>{{ birthday_discount }}</td>
                                        </tr>
                                        <tr>
                                            <th>Total pagado (anticipos) $</th>
                                            <td>
                                                <span> {{ paid_advance }} </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Importe a cobrar $</th>
                                            <td>
                                            {{total - paid_advance}}
                                                <span v-if="coin.usd">
                                                    / {{exchange_rate}} = {{total_change}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr v-if="payment_gateways.efectivo && coin.mxn">
                                            <th>
                                                Efectivo MXN $
                                                {{total - paid_advance - (qty_money_usd * exchange_rate) - qty_money_mxn - qty_wallet}}
                                            </th>
                                            <td><input type="text" class="form-control" v-model="qty_money_mxn" @keyup="updateQty"></td>
                                        </tr>
                                        <tr v-if="payment_gateways.efectivo && coin.usd">
                                            <th>
                                                Efectivo USD $
                                                {{total - paid_advance - qty_money_mxn - (qty_money_usd * exchange_rate)}} / {{exchange_rate}} = {{(total - qty_money_mxn) / exchange_rate }}
                                            </th>
                                            <td><input type="text" class="form-control" v-model="qty_money_usd" @keyup="updateQty"/></td>
                                        </tr>
                                        <tr v-if="payment_gateways.tarjeta">
                                            <th>Tarjeta $</th>
                                            <td><input type="text" class="form-control" v-model="qty_card" @keyup="updateQty"/></td>
                                        </tr>
                                        <tr v-if="payment_gateways.wallet">
                                            <th>Monedero (10%) $</th>
                                            <td><input type="text" class="form-control" v-model="qty_wallet" readonly="readonly"></td>
                                        </tr>
                                        <tr>
                                            <th>Importe pagado $</th>
                                            <td>{{qty}}</td>
                                        </tr>
                                        <tr>
                                            <th>Tipo de Cambio $</th>
                                            <td>{{exchange_rate}}</td>
                                        </tr>
                                        <tr>
                                            <th>Cambio $</th>
                                            <td>{{money_change}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="auth_view">
                <h3>Verifica tu identidad como Encargado o Supervisor.</h3>
                <div class="form-group">
                    <label for="code" class="control-label">Clave empleado</label>
                    <input type="text" class="form-control" id="code" name="code" required="required" v-model="auth.code">
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Contraseña *</label>
                    <input type="password" class="form-control" id="password" name="password" required="required" v-model="auth.password">
                </div>

                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="Enviar" @click="makeAuth">
                    <input type="button" class="btn btn-danger" value="Cancelar" @click="auth_view = false;">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
    Array.prototype.max = function() {
      return Math.max.apply(null, this);
    };
    export default {
        props: ['sale', 'sale_id', 'exchange_rate_id', 'exchange_rate', 'barbers'],
        data() {
            return {
                more_than_7_days: false,
                sale_error: false,
                error_payment: '',
                is_paying: false,
                message: '',
                auth: {
                    email: '',
                    password: ''
                },
                auth_view: false,
                type: '',
                paid: false,
                payment_gateway: '',
                payment_gateways: {
                    efectivo: false,
                    tarjeta: false,
                    wallet: false,
                },
                coin: {
                    mxn: true,
                    usd: false,
                },
                qty: 0,
                qty_money_mxn: 0,
                qty_money_usd: 0,
                qty_wallet: 0,
                qty_card: 0,
                total_neto: 0,
                tip: 0,
                tip_in: 'efectivo',
                card_brand: '',
                last_four: '',
                barber_id: ''
            }
        },
        mounted: function () {
            this.checkStorageFee();
        },
        computed: {
            wash_quantity () {
                var total = 0;
                for (var i = 0; i < this.sale.services.length; i++) {
                    if(this.sale.services[i].service_id == 23){
                        total += this.sale.services[i].qty;
                    }
                }
                var packageServices = null;
                for (var i = 0; i < this.sale.packages.length; i++) {
                    packageServices = this.sale.packages[i].package.package_services;
                    for (var i2 = 0; i2 < packageServices.length; i2++) {
                        if(packageServices[i2].service_id == 23) {
                            total += packageServices.length * packageServices[i2].quantity;
                        }
                    }
                }
                return total;
            },
            total_services () {
                var total = 0;
                var wash_quantity = this.wash_quantity;
                for (var i = 0; i < this.sale.services.length; i++) {
                    if(this.sale.services[i].service_id == 23 && wash_quantity <= 5) {
                        total += (this.sale.services[i].price * 5);
                    } else {
                        total += (this.sale.services[i].qty * this.sale.services[i].price);
                    }
                }
                return total;
            },
            total_products () {
                var total = 0;
                for (var i = 0; i < this.sale.products.length; i++) {
                    total += (this.sale.products[i].qty * this.sale.products[i].price);
                }
                return total
            },
            total_packages () {
                var total = 0;
                for (var i = 0; i < this.sale.packages.length; i++) {
                    total += (this.sale.packages[i].quantity * this.sale.packages[i].price);
                }
                return total
            },
            birthday_discount: function () {
                var services_price_arr = [];
                for (var i = 0; i < this.sale.services.length; i++) {
                    services_price_arr.push(this.sale.services[i].price);
                }
                return services_price_arr.max();
            },
            total () {
                var total = this.total_services + this.total_products + this.total_packages;
                return Number(total);
            },
            subtotal () {
                var total = Number(this.sale.total);
                var self = this;
                return Number(total);
            },
            total_change () {
                return Number(this.total / this.exchange_rate).toFixed(2);
            },
            money_change () {
                var qty = this.qty - (this.total - this.paid_advance);
                return Math.round(qty);
            },
            paid_advance () {
                var total = 0;
                for (var i = 0; i < this.sale.payments.length; i++) {
                    if (this.sale.payments[i].type == 1){
                        total += Number(this.sale.payments[i].total);
                    }
                }
                return total;
            },
            hasCustomPromotion () {
                for (var i = 0; i < this.sale.services.length; i++) {
                    if(this.sale.services[i].price != this.sale.services[i].service.sell_price){
                        return true;
                    }
                }
                for (var i = 0; i < this.sale.products.length; i++) {
                    if(this.sale.products[i].price != this.sale.products[i].product.sell_price){
                        return true;
                    }
                }
                return false;
            },
            has2x1Promotion () {
                var name = ""; 
                for (var i = 0; i < this.sale.services.length; i++) {
                    name = this.sale.services[i].service.name; 
                    if(name.includes("2x1") || name.includes("2X1")) {
                        return true;
                    }
                }
                return false;
            }
        },
        watch: {
            'payment_gateways.wallet': function (val) {
                var qty = (this.total_services * 10) / 100;
                this.qty_wallet = val ? qty : 0;
            },
            qty_wallet: function (val) {
                this.updateQty()
            }
        },
        methods: {
            checkStorageFee () {
                var now = new Date();
                var created_date = new Date(this.sale.date);
                var timeDiff = Math.abs(now.getTime() - created_date.getTime());
                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
                if(diffDays >= 7) { 
                    this.sale.services.push({
                        service_id : 22,
                        service: { name : "Almacenaje" },
                        qty : 1,
                        price: 20,
                    });
                    this.sale.total = Number(this.sale.total) + 20;
                    this.more_than_7_days = true;
                }
            },
            updateQty () {
                this.qty = 0;
                if ( this.payment_gateways.efectivo ){
                    if ( this.coin.mxn ){
                        this.qty += Number(this.qty_money_mxn);
                    }

                    if ( this.coin.usd ){
                        this.qty += Number(this.qty_money_usd * this.exchange_rate);
                    }
                }
                if ( this.payment_gateways.tarjeta ){
                    this.qty += Number(this.qty_card);
                }

                if ( this.payment_gateways.wallet ){
                    this.qty += Number(this.qty_wallet);
                }
            },
            openModal () {
              $('#modal-sale-detail-'+this.sale.id).modal('show');
            },
            authenticate (sale_id, model_id, type) {
                this.sale_id = sale_id;
                this.type = type;
                if (type == 'service') {
                    this.service_id = model_id;
                }
                if (type == 'product') {
                    this.product_id = model_id;
                }
                if (type == 'package') {
                    this.package_id = model_id;
                }
                this.auth_view = true;
            },
            makeAuth: function () {
                this.sale_error = false;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/subsidiary/auth', this.auth, {headers})
                .then(function (response){
                    this.auth_view = false;

                    if (this.type == 'service') {
                        this.deleteService(this.sale_id, this.service_id)
                    }
                    if (this.type == 'product') {
                        this.deleteProduct(this.sale_id, this.product_id)
                    }
                    if (this.type == 'package') {
                        this.deletePackage(this.sale_id, this.package_id)
                    }

                },function (error){
                    this.sale_error = error.data.message
                });
            },
            deleteService (sale_id, service_id) {
                this.$http.delete('/home/sales/'+sale_id+'/services/'+service_id)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', this.sale);
                    this.$eventHub.$emit('updateNotFinishedSale', response.data.sale);
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                },function (error){
                    this.error = error.data.message
                });
            },
            deleteProduct (sale_id, product_id) {
                this.$http.delete('/home/sales/'+sale_id+'/products/'+product_id)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', this.sale);
                    this.$eventHub.$emit('updateNotFinishedSale', response.data.sale);
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                },function (error){
                    this.error = error.data.message
                });
            },
            deletePackage (sale_id, package_id) {
                this.$http.delete('/home/sales/'+sale_id+'/packages/'+package_id)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', this.sale);
                    this.$eventHub.$emit('updateNotFinishedSale', response.data.sale);
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                },function (error){
                    this.error = error.data.message
                });
            },
            markAsAttend () {
                if (!this.sale.employee) {
                    if (this.barber_id == '') {
                        this.sale_error = 'Necesitas seleccionar el empleado.'
                        return false;
                    }
                }
                this.sale_error = false;
                var data = {
                    status: 'attend',
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.put('/home/sales/'+this.sale.id, data, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateNotFinishedSale', response.data.sale);
                    this.$eventHub.$emit('updateBarbers', response.data.barbers);
                },function (error){
                    this.error = error.data.message
                });
            },
            markAsFinish () {
                var data = {
                    status: 'finish',
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.put('/home/sales/'+this.sale.id, data, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateNotFinishedSale', response.data.sale);
                    this.$eventHub.$emit('updateBarbers', response.data.barbers);
                },function (error){
                    this.error = error.data.message
                });
            },
            markAsPaid () {
                this.error_payment = '';
                if (this.money_change < 0) {
                    return this.error_payment = 'Necesitas cobrar antes de continuar.';
                }

                if (!this.payment_gateways.efectivo && !this.payment_gateways.tarjeta && !this.payment_gateways.wallet) {
                    return this.error_payment = 'Necesitas seleccionar el metodo de pago.';
                }

                if (!this.coin.mxn && !this.coin.usd) {
                    return this.error_payment = 'Necesitas seleccionar al menos una moneda';
                }

                var data = {
                    status: 'paid',
                    card_brand: this.card_brand,
                    last_four: this.last_four,
                    coin_mxn: this.coin.mxn,
                    coin_usd: this.coin.usd,
                    payment_gateways: this.payment_gateways,
                    subtotal: this.sale.total,
                    tip: this.tip,
                    tip_in: this.tip_in,
                    total: this.total,
                    money_change: this.money_change,
                    qty: this.qty,
                    qty_money_mxn: this.qty_money_mxn,
                    qty_money_usd: this.qty_money_usd,
                    qty_card: this.qty_card,
                    qty_wallet: this.qty_wallet,
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id,
                }
                var sale_id = this.sale.id;
                this.is_paying = true;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.put('/home/sales/'+this.sale.id, data, {headers})
                .then(function (response){

                    if (response.data.already_paid) {
                        this.message = response.data.message;
                        window.open('/home/sales/'+sale_id+'/print');
                        window.location.reload();
                        return;
                    }

                    this.message = response.data.message;
                    window.open('/home/sales/'+sale_id+'/print');
                    $('#modal-sale-detail-'+sale_id).modal('hide'); 
                    setTimeout(function () { 
                        window.location.reload();
                        this.is_paying = false;
                    }, 500); 
                },function (error){
                    this.is_paying = false;
                    this.error_payment = error.data.message
                });
            },
            firstServicePrice () {
                var services = _.sortBy(this.sale.services, [function(o) { 
                    return parseFloat(o.price);
                }]);       
                return _.last(services).price;
            },
        }
    }
</script>
