<template>
<div class="col-sm-4">
    <a href="#" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
        <!-- <i class="fa fa-info-circle fa-2x"></i> -->
        Detalle
    </a>
    <div class="modal fade" v-if="sale" :id="'modal-sale-detail-'+sale.id" tabindex="-1" role="dialog" :aria-labelledby="'modal-sale-detail-'+sale.id+'Label'">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 1000px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" :id="'modal-sale-detail-'+sale.id+'Label'">Detalle del servicio. <small><strong>Folio:</strong> {{sale.id}}</small></h4>
                    <p class="pull-right" v-if="kids_promotion > 0">
                        <span v-if="kids_promotion == 50">
                            Tienes la promoción del 50% de descuento en el corte para tu hijo
                        </span>
                        <span v-if="kids_promotion == 100">
                            Tienes la promoción del Corte gratis para tu hijo
                        </span>
                    </p>
                </div>
                <div class="container" v-if="auth_view">
                    <h3 v-if="!payment_gateways.cortesia">Verifica tu identidad como Encargado o Supervisor.</h3>
                    <h3 v-if="payment_gateways.cortesia">Verifica tu identidad como administrador.</h3>
                    <div class="form-group">
                        <label for="email" class="control-label">Usuario</label>
                        <input type="text" class="form-control" id="email" name="email" required="required" v-model="auth.email" autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Contraseña *</label>
                        <input type="password" class="form-control" id="password" name="password" required="required" v-model="auth.password" autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" value="Enviar" @click="makeAuth">
                        <input type="button" class="btn btn-danger" value="Cancelar" @click="auth_view = false; auth_view = false; sale_error = false; error_payment = '';">
                    </div>
                </div>
                <div class="container" v-if="ticket_view">
                    <h3>Como desea proporcionar el ticket al cliente?.</h3>
                    <div class="form-group">
                        <label for="code" class="control-label" >Teléfono (Necesario solo para SMS)</label>
                        <input type="number" class="form-control" id="phone" name="phone" required="required" v-model="sale.customer.phone" autocomplete="off">
                    </div>
                    
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" value="Ticket impreso" @click="printTicket">
                        <input type="button" class="btn btn-primary" value="Mensaje de texto" @click="sendTicket">
                        <input type="button" class="btn btn-default" value="Regresar" :disabled="is_paying" @click="hideTicketTypeForm">
                        <!-- <input type="button" class="btn btn-danger" value="Cancelar" @click="auth_view = false; ticket_view = false; sale_error = false; error_payment = '';"> -->
                    </div>
                </div>
                <ul class="nav nav-tabs" v-if="!auth_view && !ticket_view">
                    <li><a data-toggle="tab" :href="'#productservice'+sale.id">Productos y servicios</a></li>
                    <li class="active"><a data-toggle="tab" :href="'#pay'+sale.id">Estatus - cobrar</a></li>
                </ul>
                <div class="tab-content" v-if="!auth_view && !ticket_view" style="height: 600px; width: 1000px;">
                    <div v-if="!auth_view" class="row" style="margin-left: 0px;">
                        <div class="col-md-6">
                            <p><strong>Fecha y hora:</strong> {{sale.created_at}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Cliente:</strong> {{sale.customer.name}} ({{sale.customer.wallet_number}})</p>
                        </div>
                    </div>
                    <div class="alert alert-danger" v-if="sale_error">
                        {{sale_error}}
                    </div>
                    <div :id="'pay'+sale.id" class="modal-body tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Barbero:</strong>
                            </div>
                            <div class="col-md-4">
                                <span style="display: inline-block;">
                                    <select v-model="barber_id" class="form-control danger-animation">
                                        <option value="">Seleccione uno por favor..</option>
                                        <option v-for="barber in barbers" :value="barber.id" :key="barber.id">{{barber.short_name}}</option>
                                        <template v-if="sale.employee && sale.employee.id">
                                            <option :value="sale.employee.id" selected="selected">{{sale.employee.short_name}}</option>
                                        </template>
                                    </select>
                                </span>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-default" @click="markAsAttend" v-if="total_services > 0 && !sale.attend">Atendiendo</a>
                                <a href="#" class="btn btn-default" @click="markAsFinish" v-if="total_services > 0 && !sale.finish">Terminado</a>
                                <a href="#" class="btn btn-default" @click="paid = !paid;">Cobrar</a>
                            </div>
                        </div>
                        <div class="row">
                            <div v-if="sale.image" class="col-md-2">
                                <strong>Imagen evidencia:</strong>
                            </div>
                            <div v-if="sale.image" class="col-md-4">
                                <a :href="sale.image.path" title="Ver imagen">
                                    <i class="fa fa-image fa-2x"></i>
                                </a>
                            </div>
                            <div v-if="has2x1Promotion || kids_promotion == 100" class="col-md-2">
                                <strong>Barbero2:</strong>
                            </div>
                            <div v-if="has2x1Promotion || kids_promotion == 100" class="col-md-4">
                                <select v-model="barber2_id" class="form-control danger-animation">
                                    <option value="">Seleccione uno por favor..</option>
                                    <option v-for="barber in barbers" :value="barber.id" :key="barber.id">{{barber.short_name}}</option>
                                    <template v-if="sale.employee2 && sale.employee2.id">
                                        <option :value="sale.employee2.id" selected="selected">{{sale.employee2.short_name}}</option>
                                    </template>
                                </select>
                            </div>
                            <input v-if="!has2x1Promotion" type="hidden" v-model="barber2_id">

                        </div>
                        <div v-if="paid" class="row container-fluid">
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="row" style="height: 40px;">
                                    <div class="col-md-12" style="height: 40px; padding-top: 6px;">
                                        <h4>Moneda</h4>
                                    </div>
                                </div>
                                <div class="row" style="height: 40px;">
                                    <div class="checkbox col-md-6">
                                        <label><input type="checkbox" v-model="coin.mxn"> MXN</label>
                                    </div>
                                    <div class="checkbox col-md-6">
                                        <label><input type="checkbox" v-model="coin.usd"> USD</label>
                                    </div>
                                </div>
                                <div class="row" style="height: 40px;">
                                    <div class="col-md-12" style="height: 40px; padding-top: 6px;">
                                        <h4>Metodos de pago</h4>
                                    </div>
                                </div>
                                <div class="row" style="height: 40px;">
                                    <div class="checkbox col-md-12">
                                        <label><input type="checkbox" v-model="payment_gateways.efectivo" @change="updateQty"> Efectivo</label>
                                    </div>
                                </div>
                                <div v-if="payment_gateways.efectivo && coin.mxn" class="row" style="height: 40px;">
                                    <div class="col-md-4">
                                        <strong>Efectivo (MXN)</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" v-model="qty_money_mxn" @keyup="updateQty">
                                    </div>
                                </div>
                                <div v-if="payment_gateways.efectivo && coin.usd" class="row" style="height: 40px;">
                                    <div class="col-md-4">
                                        <strong>Efectivo (USD)</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" v-model="qty_money_usd" @keyup="updateQty"/>
                                    </div>
                                </div>
                                <div class="row" style="height: 40px;">
                                    <div class="checkbox col-md-12">
                                        <label><input type="checkbox" v-model="payment_gateways.tarjeta" @change="updateQty"> Tarjeta</label>
                                    </div>
                                </div>
                                <div v-if="payment_gateways.tarjeta" class="row" style="height: 40px;">
                                    <div class="col-md-4">
                                        <strong>Tarjeta</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" v-model="qty_card" @keyup="updateQty"/>
                                    </div>
                                </div>
                                <div v-if="payment_gateways.tarjeta" class="row" style="height: 40px;">
                                    <div class="col-md-4">
                                        <strong>Tipo</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <select v-model="barber2_id" class="form-control">
                                            <option value="" selected>Seleccione uno por favor..</option>
                                            <option value="visa">Visa</option>
                                            <option value="mastercard">Mastercard</option>
                                            <option value="amex">American Express</option>
                                        </select>
                                    </div>
                                </div>
                                <div v-if="payment_gateways.tarjeta" class="row" style="height: 40px;">
                                    <div class="col-md-4">
                                        <strong>Últimos 4 dígitos</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" v-model="last_four" @keyup="updateQty"/>
                                    </div>
                                </div>
                                <div class="row" style="height: 40px;">
                                    <div class="checkbox col-md-12">
                                        <label><input type="checkbox" v-model="payment_gateways.wallet" @change="updateQty" :disabled="sale.customer.services_free == 0"> Monedero ({{sale.customer.services_free}} Gratis)</label>
                                    </div>
                                </div>
                                <div class="row" style="height: 40px;">
                                    <div class="checkbox col-md-12">
                                        <label><input type="checkbox" v-model="payment_gateways.cortesia" @change="updateQty">Cortesía</label>
                                    </div>
                                </div>
                                <div class="checkbox" v-if="sale.has_birthday">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.birthday" @change="setUnsetWallet"> Cumpleaños 
                                    </label>
                                </div>
                                <p class="text-danger">{{error_payment}}</p>
                            </div>
                            <div class="col-md-6" style="padding-top:11px;">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Subtotal $</th>
                                            <td v-if="!payment_gateways.cortesia">{{subtotal}}</td>
                                            <td v-if="payment_gateways.cortesia">0</td>
                                        </tr>
                                        <tr>
                                            <th>Propina $</th>
                                            <td><input type="number" class="form-control" v-model="tip"></td>
                                        </tr>
                                        <tr v-if="!hasCustomPromotion && !payment_gateways.wallet && sale.has_discount && sale.kids_promotion == 0 && !(sale.has_birthday && payment_gateways.birthday)">
                                            <th>Descuento (10%) $</th>
                                            <td>{{(total_services * 10) / 100}}</td>
                                        </tr>
                                        <tr v-if="sale.has_birthday && payment_gateways.birthday && kids_promotion == 0">
                                            <th>Descuento (cumpleaños) $</th>
                                            <td>{{ birthday_discount }}</td>
                                        </tr>
                                        <tr>
                                            <th>Importe a cobrar $</th>
                                            <td>
                                            {{total}}
                                                <span v-if="coin.usd">
                                                    / {{exchange_rate}} = {{total_change}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr v-if="payment_gateways.efectivo && coin.mxn">
                                            <th>
                                                Efectivo MXN $
                                                {{total - (qty_money_usd * exchange_rate) - qty_money_mxn}}
                                            </th>
                                            <td>{{ qty_money_mxn }}</td>
                                        </tr>
                                        <tr v-if="payment_gateways.efectivo && coin.usd">
                                            <th>
                                                Efectivo USD $
                                                {{total - qty_money_mxn - (qty_money_usd * exchange_rate)}} / {{exchange_rate}} = {{(total - qty_money_mxn) / exchange_rate }}
                                            </th>
                                            <td> {{qty_money_usd}} </td>
                                        </tr>
                                        <tr v-if="payment_gateways.tarjeta">
                                            <th>Tarjeta $</th>
                                            <td>{{qty_card}}</td>
                                        </tr>
                                        <tr v-if="payment_gateways.wallet">
                                            <th>Monedero $</th>
                                            <td><input type="text" class="form-control" v-model="qty_wallet" readonly="readonly"></td>
                                        </tr>
                                        <tr>
                                            <th>Importe pagado $</th>
                                            <td>{{qty}}</td>
                                        </tr>
                                        <tr>
                                            <th>Tipo de Cambio $</th>
                                            <td>{{exchange_rate}}</td>
                                        </tr>
                                        <tr>
                                            <th>Cambio $</th>
                                            <td>{{money_change}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <div class="form-group">
                                    <button 
                                        type="button" 
                                        class="btn btn-primary btn-lg btn-block" 
                                        @click="showTicketTypeForm"
                                        :disabled="is_paying"
                                        v-show="showPaymentButton"
                                    >Cobrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div :id="'productservice'+sale.id" class="modal-body tab-pane fade">

                        <div v-if="!auth_view && !ticket_view" class="row">
                            <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Servicio / Producto</th>
                                        <th>Cantidad</th>
                                        <th>Importe</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="service in sale.services" :key="service.id">
                                        <td>{{ service.service.name }}</td>
                                        <td>{{ service.qty }}</td>
                                        <td>
                                            <p v-if="kids_promotion == 0 || !service.service.kids_promotion && !payment_gateways.cortesia">
                                                {{ service.price * service.qty }}
                                                
                                            </p>
                                            <p v-if="kids_promotion > 0 && service.service.kids_promotion && !payment_gateways.cortesia">
                                                <span v-if="kids_promotion == 50">
                                                    {{ ((service.price * 50) / 100) * service.qty }}
                                                </span>
                                                <span v-if="kids_promotion == 100">
                                                    <!-- {{ ((service.price * 100) / 100) * service.qty }} -->
                                                    0
                                                </span>
                                            </p>
                                        </td>
                                        <td>
                                            <a href="#" @click="authenticate(sale.id, service.id, 'service')"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr v-for="product in sale.products" :key="product.id">
                                        <td>{{ product.product.name }}</td>
                                        <td>{{ product.qty }}</td>
                                        <td>{{ product.price * product.qty }}</td>
                                        <td>
                                            <a href="#" @click="authenticate(sale.id, product.id, 'product')"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right">Total: </th>
                                        <td colspan="2" class="text-left">{{subtotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import Vue from 'vue'
    import VueSwal from 'vue-swal'
    Vue.use(VueSwal);
    Array.prototype.max = function() {
      return Math.max.apply(null, this);
    };
    export default {
        props: ['sale_original', 'sale_id', 'exchange_rate_id', 'exchange_rate', 'barbers_original'],
        data() {
            return {
                sale_error: false,
                surveySignalSend: false,
                surveyHasAnswered: false,
                error_payment: '',
                is_paying: false,
                is_authorized: false,
                message: '',
                auth: {
                    email: '',
                    password: '',
                    type: '',
                },
                auth_view: false,
                ticket_view: false,
                send_ticket: false,
                print_ticket: false,

                type: '',
                paid: false,
                payment_gateway: '',
                payment_gateways: {
                    efectivo: false,
                    tarjeta: false,
                    wallet: false,
                    cortesia: false,
                    birthday: true,
                },
                coin: {
                    mxn: true,
                    usd: false,
                },
                qty: 0,
                qty_money_mxn: 0,
                qty_money_usd: 0,
                qty_wallet: 0,
                qty_card: 0,
                total_neto: 0,
                tip: 0,
                tip_in: 'efectivo',
                card_brand: '',
                last_four: '',
                barber_id: '',
                barber2_id: '',
                barbers: null,
                sale: null,
            }
        },
        mounted: function () {
            this.sale = this.sale_original;
            this.barbers = this.barbers_original;
            this.barber_id = this.sale.employee_id;
            this.kids_promotion
            Echo.channel(`survey.${this.sale.subsidiary_id}.answered.${this.sale.id}`)
            .listen('AcceptSurvey', (e) => {
                this.surveyHasAnswered = true;
            });

            this.$eventHub.$on('updateSaleDetail', (sale) => {
                this.sale = sale;
            });
            // alert(JSON.stringify(this.sale));
            // this.sale.has_birthday = true;
            // alert(this.sale.has_birthday);
        },
        computed: {
            surveyButtonText () {
                return this.surveySignalSend
                    ? 'Formulario abierto'
                    : 'Encuesta';
            },
            showPaymentButton () {
                // let subsidiaries = Laravel.subsidiaries;
                // for (var i = 0; i < subsidiaries.length; i++) {
                //     if (this.sale.subsidiary_id == subsidiaries[i]) {
                //         if (this.surveyHasAnswered) {
                //             return true;
                //         }
                //         return false;
                //     }
                // }
                return true;
            },
            total_services () {
                var total = 0;
                for (var i = 0; i < this.sale.services.length; i++) {
                    total += (this.sale.services[i].qty * this.sale.services[i].price);
                }
                return total
            },
            total_products () {
                var total = 0;
                for (var i = 0; i < this.sale.products.length; i++) {
                    total += (this.sale.products[i].qty * this.sale.products[i].price);
                }
                return total
            },
            birthday_discount: function () {
                var services_price_arr = [];
                for (var i = 0; i < this.sale.services.length; i++) {
                    services_price_arr.push(this.sale.services[i].price);
                }
                return services_price_arr.max();
            },
            total () {
                if ( this.payment_gateways.cortesia ){
                    return Number(this.tip);
                }
                var total = this.subtotal;
                if (!this.hasCustomPromotion && !this.payment_gateways.wallet && this.sale.has_discount && this.kids_promotion == 0 && !(this.sale.has_birthday && this.payment_gateways.birthday)) {
                    var descuento = (this.total_services * 10) / 100;
                    total -= descuento;
                }
                return Number(total) + Number(this.tip);
            },
            subtotal () {
                if ( this.payment_gateways.cortesia ){
                    return 0;
                }
                var total = Number(this.sale.total);
                var self = this;
                if (this.kids_promotion > 0) {
                    var total = 0;
                    var amount = 0;
                    for (var i = 0; i < this.sale.services.length; i++) {
                        if (this.sale.services[i].service.kids_promotion) {
                            if (this.kids_promotion == 50) {
                                amount = ((this.sale.services[i].price * 50) / 100) * this.sale.services[i].qty;
                            }else {
                                amount = 0;
                            }      
                        }else {
                            amount = this.sale.services[i].price * this.sale.services[i].qty;
                        }
                        total += amount;
                        
                    }
                    return Number(total) + this.total_products;
                }

                if (this.sale.has_birthday && this.payment_gateways.birthday && this.kids_promotion == 0) {
                    total -= this.birthday_discount;
                }
                // if (this.sale.has_discount) {
                //     var descuento = (this.total_services * 10) / 100;
                //     total -= descuento;
                // }

                return Number(total);
            },
            total_change () {
                return Number(this.total / this.exchange_rate).toFixed(2);
            },
            money_change () {
                var qty = this.qty - this.total;
                return Math.round(qty);
                // return Number(qty).toFixed(2);
            },
            kids_promotion () {
                var kid_service = _.find(this.sale.services, function(o) { 
                    return o.service.kids_promotion;
                });
                var adult_service = _.find(this.sale.services, function(o) { 
                    return o.service.id == 1;
                });
                if (kid_service && adult_service) {
                    return 100;
                }

                if (kid_service) {
                    return 50;
                }
                return 0;
            },
            hasWaitingService () {
                for (var i = 0; i < this.sale.services.length; i++) {
                    // 19 = EN ESPERA
                    if(this.sale.services[i].id == 19) {
                        return true;
                    }
                }
                return false;
            },
            hasCustomPromotion () {
                for (var i = 0; i < this.sale.services.length; i++) {
                    if(this.sale.services[i].price != this.currentServicePrice(this.sale.services[i].service)) {
                        return true;
                    }
                }
                for (var i = 0; i < this.sale.products.length; i++) {
                    if(this.sale.products[i].price != this.sale.products[i].product.sell_price){
                        return true;
                    }
                }
                return false;
            },
            has2x1Promotion () {
                var name = ""; 
                for (var i = 0; i < this.sale.services.length; i++) {
                    name = this.sale.services[i].service.name; 
                    if(name.includes("2x1") || name.includes("2X1")) {
                        return true;
                    }
                }
                return false;
            }
        },
        watch: {
            'payment_gateways.wallet': function (val) {
                var qty = this.firstServicePrice();
                this.qty_wallet = val ? qty : 0;
            },
            qty_wallet: function (val) {
                this.updateQty()
            }
        },
        methods: {
            updateQty () {
                this.qty = 0;

                if ( this.payment_gateways.efectivo ) {
                    if ( this.coin.mxn ){
                        this.qty += Number(this.qty_money_mxn);
                    }

                    if ( this.coin.usd ){
                        this.qty += Number(this.qty_money_usd * this.exchange_rate);
                    }
                }
                if ( this.payment_gateways.tarjeta ){
                    this.qty += Number(this.qty_card);
                }

                if ( this.payment_gateways.wallet ){
                    this.qty += Number(this.qty_wallet);
                }
                this.sendSurveySignal();
            },
            openModal () {
              $('#modal-sale-detail-'+this.sale.id).modal('show');
            },
            authenticate (sale_id, model_id, type) {
                this.sale_id = sale_id;
                this.type = type;
                if (type == 'service') {
                    this.service_id = model_id;
                }

                if (type == 'product') {
                    this.product_id = model_id;
                }

                this.auth_view = true;
            },
            showTicketTypeForm() {
                this.error_payment = '';
                
                if ( this.payment_gateways.cortesia ){
                    if ( !this.is_authorized ){
                        this.auth_view = true;
                        return this.error_payment = '';
                    }
                } else {
                    this.auth_view = false;
                    this.ticket_view = false;
                }

                if(!this.barber_id) {
                    return this.error_payment = 'Debe seleccionar un barbero.';
                }

                if(this.sale.services.length == 0 && this.sale.products.length == 0) {
                    return this.error_payment = 'Necesitas agregar al menos un servicio y/o producto';
                }

                if (this.money_change < 0) {
                    return this.error_payment = 'Necesitas cobrar antes de continuar.';
                }

                if (!this.payment_gateways.efectivo && !this.payment_gateways.tarjeta && !this.payment_gateways.wallet && !this.payment_gateways.cortesia) {
                    return this.error_payment = 'Necesitas seleccionar el metodo de pago.';
                }

                if (!this.coin.mxn && !this.coin.usd) {
                    return this.error_payment = 'Necesitas seleccionar al menos una moneda';
                }

                // if card payment and it's not exact
                if (this.money_change > 0 && !this.payment_gateways.efectivo && this.payment_gateways.tarjeta && !this.payment_gateways.wallet && !this.payment_gateways.cortesia) {
                    return this.error_payment = 'Para tarjetas, el pago debe ser igual al importe total.';
                }
                // alert("se muestra ticket?");
                this.ticket_view = true;
            },
            hideTicketTypeForm() {
                this.ticket_view = false;
            },
            printTicket() {
                this.hideTicketTypeForm();
                this.print_ticket = true;
                this.markAsPaid();
            },
            sendTicket() {
                this.send_ticket = true;
                this.markAsPaid();
            },
            makeAuth: function () {
                this.sale_error = false;
                if ( this.payment_gateways.cortesia ){
                    this.is_authorized = false;
                    this.$http.post('/home/subsidiary/auth/admin', this.auth)
                    .then(function (response){
                        this.auth_view = false;
                        this.is_authorized = true;
                        this.markAsPaid();
                    },function (error){
                        this.sale_error = error.data.message
                    });
                    return false;
                } else {
                    this.auth.type = this.type;
                    this.$http.post('/home/subsidiary/authDelete', this.auth)
                    .then(function (response) {
                        this.auth_view = false;
                        if (this.type == 'service') {
                            this.deleteService(this.sale_id, this.service_id)
                        }
                        if (this.type == 'product') {
                            this.deleteProduct(this.sale_id, this.product_id)
                        }
                    },function (error) {
                        this.sale_error = error.data.message
                    });
                }
            },
            deleteService (sale_id, service_id) {
                this.$http.delete('/home/sales/'+sale_id+'/services/'+service_id)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', this.sale);
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                },function (error) {
                    this.sale_error = error.data.message;
                });
            },
            deleteProduct (sale_id, product_id) {
                this.$http.delete('/home/sales/'+sale_id+'/products/'+product_id)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', this.sale);
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                },function (error) {
                    this.sale_error = error.data.message;
                });
            },
            markAsAttend () {
                if (!this.sale.employee) {
                    if (this.barber_id == '') {
                        this.sale_error = 'Necesitas seleccionar el barbero.'
                        return false;
                    }
                }

                if(this.sale.services == 0) {
                    this.sale_error = 'Debe tener al menos un servicio para cambiar a "atendiendo".';
                    return false;
                }

                this.sale_error = false;
                var data = {
                    status: 'attend',
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id
                }

                this.$http.put('/home/sales/'+this.sale.id, data)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateBarbers', response.data.barbers);
                },function (error){
                    this.error = error.data.message
                });
            },
            markAsFinish () {
                var data = {
                    status: 'finish',
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id
                }

                // if(this.sale.services == 0 || this.hasWaitingService()) {
                //     this.sale_error = 'Debe tener al menos un servicio para cambiar a "finalizado".';
                //     return false;
                // }

                this.$http.put('/home/sales/'+this.sale.id, data)
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateBarbers', response.data.barbers);
                },function (error){
                    this.error = error.data.message
                });
            },
            markAsPaid () {
                
                if(this.payment_gateways.cortesia){
                    this.sale.total = 0;
                }

                // return this.error_payment = 'success';

                this.paidAjax();   
            },
            paidAjax() {
                var sale_id = this.sale.id;
                this.is_paying = true;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                var data = {
                    auth: this.auth,
                    status: 'paid',
                    card_brand: this.card_brand,
                    last_four: this.last_four,
                    coin_mxn: this.coin.mxn,
                    coin_usd: this.coin.usd,
                    payment_gateways: this.payment_gateways,
                    subtotal: this.sale.total,
                    tip: this.tip,
                    tip_in: this.tip_in,
                    total: this.total,
                    money_change: this.money_change,
                    qty: this.qty,
                    qty_money_mxn: this.qty_money_mxn,
                    qty_money_usd: this.qty_money_usd,
                    qty_card: this.qty_card,
                    qty_wallet: this.qty_wallet,
                    qty_cortesia: this.qty_cortesia,
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id,
                    kids_promotion: this.kids_promotion,
                    send_ticket: this.send_ticket
                };

                this.$http.put('/home/sales/'+this.sale.id, data, {headers})
                .then(function (response){
                    if (response.data.already_paid) {
                        if(this.print_ticket) {
                            this.message = response.data.message;
                            window.open('/home/sales/'+sale_id+'/print');
                            window.location.reload();
                            return;
                        }
                        else if(this.send_ticket) {
                            this.sendTicketAjax();
                        }

                    } else {
                        this.message = response.data.message;
                        this.$eventHub.$emit('updateSales', this.sales);
                        this.$eventHub.$emit('updateBarbers', response.data.barbers);
                        
                        if(this.print_ticket) {
                            window.open('/home/sales/'+sale_id+'/print');
                            $('#modal-sale-detail-'+this.sale.id).modal('hide');
                            window.onfocus = function () { 
                                setTimeout(function () { 
                                    window.location.reload();
                                    this.is_paying = false;
                                }, 500); 
                            }
                        }
                        if(this.send_ticket) {
                            this.sendTicketAjax();
                        }
                    }
                },function (error){
                    this.is_paying = false;
                    this.error_payment = error.data.message
                    // this.error_payment = error.body;
                });
            },
            sendTicketAjax() {
                var data = {
                    sale_id: this.sale.id,
                    phone: this.sale.customer.phone,
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/ticket/send', data, {headers})
                .then(function (response){
                    if(response.data.status == 'success') {
                        swal("El mensaje ha sido enviado", { icon: "success", });
                        $('#modal-sale-detail-'+this.sale.id).modal('hide');
                        // this.hideTicketTypeForm();
                        setTimeout(function () { 
                            window.location.reload();
                            this.is_paying = false;
                        }, 1000); 
                    } else {
                        // this.is_paying = false;
                        this.$swal("Ocurrió un error al enviar el mensaje", response.data.error, { icon: "error" });
                    }

                    },function (error){
                    alert(JSON.stringify(error));
                    // this.error_payment = error.body;
                });
            },
            firstServicePrice () {
                var services = _.sortBy(this.sale.services, [function(o) { 
                    return parseFloat(o.price);
                }]);
                
                return _.last(services).price;
            },
            sendSurveySignal() {
                if (!this.surveyHasAnswered) {
                    this.$http.post('/home/sales/'+this.sale.id+'/survey', {})
                    .then((response) => {
                        this.surveySignalSend = true;
                        setTimeout(() => {
                            this.surveyHasAnswered = true;
                        },(1000 * 30));
                    }, (error) => {
                    });
                }
            },
            setUnsetWallet() {
                if(payment_gateways.birthday) {
                    payment_gateways.wallet = false;
                }
            },
            currentServicePrice(service) {
                if(service.subsidiary_prices) {
                    for (var i = service.subsidiary_prices.length - 1; i >= 0; i--) {
                        var servicePrice = service.subsidiary_prices[i]; 
                        if(servicePrice.subsidiary_id == this.sale.subsidiary_id) {
                            return servicePrice.price;
                        }
                    }
                }
                return service.sell_price;
            },
        }
    }
</script>
