<template>
        
    <div class="modal fade" id="modal-schedules-barber" tabindex="-1" role="dialog" aria-labelledby="modal-schedules-barberLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-schedules-barberLabel">Imprimir horarios</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="code" class="control-label">Barbero *</label>
                <select name="code" id="code" class="form-control select2" v-model="employee.code" style="width:100%;">
                    <option v-for="barber in barbers" :key="barber.id" :value="barber.code">{{barber.short_name}}</option>
                </select>
            </div>

            <div v-if="hasSchedules">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Dia</th>
                            <th>Turno</th>
                            <th>Sucursal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="schedule in orderedSchedules" :key="schedule.id">
                            <td v-if="typeof schedule === 'string'">No hay horarios para el dia: {{schedule.day}}</td>
                            <td v-if="typeof schedule !== 'string'">{{schedule.date}}</td>
                            <td v-if="typeof schedule !== 'string'">{{schedule.day}}</td>
                            <td v-if="typeof schedule !== 'string'">{{schedule.turn.name}}</td>
                            <td v-if="typeof schedule !== 'string'">{{schedule.subsidiary.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <a @click="tryPrintSchedules(true)" target="_blank" class="btn btn-default" v-show="!loading_more">Mas</a>
            </div>

            <div class="alert alert-danger" v-if="error">
                {{error}}
            </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        props: ['barbers'],
        data() {
            return {
                error: false,
                employee: {
                    code: '',
                },
                schedules: [],
                url: false,
                loading_more: false,
            };
        },
        mounted: function () {
            self = this
            $('.select2').on('change', function () {
                self.employee.code = $(this).val();
                self.tryPrintSchedules();
            });
        },
        computed: {
            hasSchedules () {
                return this.schedules.length > 0;
            },
            orderedSchedules: function () {
                return _.orderBy(this.schedules, 'date');
            },
        },
        methods: {
            tryPrintSchedules (more) {
                var more = more || false;
                this.schedules = [];
                this.error = false;
                this.loading_more = false;
                var uri = '/home/employees/signin';
                if (more) {
                    uri = uri + '?more=1'
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post(uri, this.employee, {headers})
                .then(function (response){
                    // $('#modal-schedules-barber').modal('hide');
                    // window.open(response.data.url)
                    this.reset();
                    this.url = response.data.url;
                    this.schedules = response.data.schedules;
                    if (more) {
                        this.loading_more = true;
                    }
                },function (error){
                    this.error = error.data.error
                });
            },
            reset () {
                this.error = '';
            }
        }
    }
</script>
