<template>
    <div v-bind:class="{ 'col-md-3': show_header }">
        <div class="panel panel-default">
            <div class="panel-heading" v-if="show_header">Ver incidencias</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="control-label">Semana del *</label>
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control" name="start" v-model="start">
                        <span class="input-group-addon">al</span>
                        <input type="text" class="form-control" name="end" v-model="end">
                    </div>
                </div>

                <div class="form-group">
                    <label for="employee_number">Clave empleado *</label>
                    <input type="text" class="form-control" id="employee_number" v-model="employee_number" @keyup.enter="getIssues">
                    <p class="text-danger" v-if="error">{{error}}</p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="getIssues">Buscar</button>
                </div>

            </div>
        </div>

        <div class="modal fade" id="modal-add-product-service-incidencias" tabindex="-1" role="dialog" aria-labelledby="modal-add-product-service-incidenciasLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-add-product-service-incidenciasLabel">Incidencias</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Faltas Incurridas</th>
                                <th>Observaciones</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(issue, index) in issues" :key="index">
                                <td>{{index + 1}}</td>
                                <td>
                                    <a :href="issue.images[0].path" target="_blank">
                                        <img :src="issue.images[0].path" v-if="issue.images.length > 0" width="50px">
                                    </a>
                                    {{issue.area}}
                                </td>
                                <td>{{issue.action}}</td>
                                <td>{{issue.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: ['show_header'],
        data() {
            return {
                error: false,
                employee_number: '',
                issues: [],
                start: '',
                end: ''
            }
        },
        methods: {
            getIssues () {
                this.error = false;
                var self = this;
                this.$http.get('/home/issues-employee/'+this.employee_number+'?start='+this.start+'&end='+this.end)
                .then(function (response){
                    setTimeout(function () {
                        self.employee_number = '';
                    }, 1000);

                    this.issues = response.data.issues;
                    $('#modal-add-product-service-incidencias').modal('show');
                },function (error){
                    this.error = error.data.message
                });
            }
        }
    }
</script>
