<template>
<div>
    <a href="#" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
        <i class="fa fa-info-circle fa-2x"></i>
    </a>

    <div class="modal fade" :id="'modal-exchange-detail-'+exchange.id" tabindex="-1" role="dialog" :aria-labelledby="'modal-exchange-detail-'+exchange.id+'Label'">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" :id="'modal-exchange-detail-'+exchange.id+'Label'">Detalle del intercambio.</h4>
          </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Empleado 1</th>
                                <th>Empleado 2</th>
                                <th>Fecha</th>
                                <th>Nombre</th>
                                <th>Sucursal</th>
                                <th>Turno</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2" style="vertical-align:middle">
                                    {{ exchange.employee.short_name }}
                                </td>
                                <td rowspan="2" style="vertical-align:middle">
                                    {{ exchange.employee2.short_name }}
                                </td>
                                <td rowspan="2" style="vertical-align:middle">
                                    {{ exchange.date }}
                                </td>
                                
                                <template v-if="schedules[0] == null">
                                    <td colspan="3" align="center"> SIN DEFINIR</td>
                                </template>
                                <template v-if="schedules[0] != null">
                                    <td>{{ schedules[0].employee.short_name }}</td>
                                    <td>{{ schedules[0].subsidiary.name }}</td>
                                    <td>{{ schedules[0].turn.name }}</td>
                                </template>
                                <td rowspan="2" style="vertical-align:middle">Horario original</td>

                            </tr>
                            <tr>
                                <template v-if="schedules[1] == null">
                                    <td colspan="3" align="center"> SIN DEFINIR</td>
                                </template>
                                <template v-if="schedules[1] != null">
                                    <td>{{ schedules[1].employee.short_name }}</td>
                                    <td>{{ schedules[1].subsidiary.name }}</td>
                                    <td>{{ schedules[1].turn.name }}</td>
                                </template>
                            </tr>
                            <!--
                            <tr>
                                <template v-if="schedules[1] == null || schedules[0] == null">
                                    <td colspan="3" align="center"> SIN DEFINIR</td>
                                </template>
                                <template v-if="schedules[1] != null && schedules[0] != null">
                                    <td>{{ schedules[1].employee.short_name }}</td>
                                    <td>{{ schedules[0].subsidiary.name }}</td>
                                    <td>{{ schedules[0].turn.name }}</td>
                                </template>
                                <td rowspan="2" style="vertical-align:middle">Horario actualizado</td>
                            </tr>
                            <tr>
                                <template v-if="schedules[1] == null || schedules[0] == null">
                                    <td colspan="3" align="center"> SIN DEFINIR</td>
                                </template>
                                <template v-if="schedules[1] != null && schedules[0] != null">
                                    <td>{{ schedules[0].employee.short_name }}</td>
                                    <td>{{ schedules[1].subsidiary.name }}</td>
                                    <td>{{ schedules[1].turn.name }}</td>
                                </template>
                            </tr>
                            -->
                            <template v-for="(exchangeChild, index) in exchange.exchanges" >
                                <template v-if="updateSchedules(index)">
                                    <tr>
                                        <td rowspan="2" style="vertical-align:middle">
                                            {{ exchangeChild.employee.short_name }}
                                        </td>
                                        <td rowspan="2" style="vertical-align:middle">
                                            {{ exchangeChild.employee2.short_name }}
                                        </td>
                                        <td rowspan="2" style="vertical-align:middle">
                                            {{ exchangeChild.date }}
                                        </td>
                                
                                        <template v-if="schedules1[index] == null">
                                            <td colspan="3" align="center"> SIN DEFINIR</td>
                                        </template>
                                        <template v-if="schedules1[index] != null">
                                            <td>{{ schedules1[index].employee.short_name }}</td>
                                            <td>{{ schedules1[index].subsidiary.name }}</td>
                                            <td>{{ schedules1[index].turn.name }}</td>
                                        </template>
                                        <td rowspan="2" style="vertical-align:middle">Horario original</td>
                                    </tr>
                                    <tr>
                                        <template v-if="schedules2[index] == null">
                                            <td colspan="3" align="center"> SIN DEFINIR</td>
                                        </template>
                                        <template v-if="schedules2[index] != null">
                                            <td>{{ schedules2[index].employee.short_name }}</td>
                                            <td>{{ schedules2[index].subsidiary.name }}</td>
                                            <td>{{ schedules2[index].turn.name }}</td>
                                        </template>
                                    </tr>
                                    <!--
                                    <tr>
                                        <template v-if="schedules2[index] == null || schedules1[index] == null">
                                            <td colspan="3" align="center"> SIN DEFINIR</td>
                                        </template>
                                        <template v-if="schedules2[index] != null && schedules1[index] != null">
                                            <td>{{ schedules2[index].employee.short_name }}</td>
                                            <td>{{ schedules1[index].subsidiary.name }}</td>
                                            <td>{{ schedules1[index].turn.name }}</td>
                                        </template>
                                        <td rowspan="2" style="vertical-align:middle">Horario actualizado</td>
                                    </tr>
                                    <tr>
                                        <template v-if="schedules2[index] == null || schedules1[index] == null">
                                            <td colspan="3" align="center"> SIN DEFINIR</td>
                                        </template>
                                        <template v-if="schedules2[index] != null && schedules1[index] != null">
                                            <td>{{ schedules1[index].employee.short_name }}</td>
                                            <td>{{ schedules2[index].subsidiary.name }}</td>
                                            <td>{{ schedules2[index].turn.name }}</td>
                                        </template>
                                    </tr>
                                    -->
                                </template>
                            </template>
                        </tbody>
                    </table>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
    Array.prototype.max = function() {
      return Math.max.apply(null, this);
    };
    export default {
        props: ['exchange', 'schedules','schedules1', 'schedules2'],
        data() {
            return {
                exchange: null,
                schedules: null,
                schedules1: null,
                schedules2: null,
            }
        },
        mounted: function () {
        },
        computed: {
        },
        watch: {
        },
        methods: {
            openModal () {
              $('#modal-exchange-detail-'+this.exchange.id).modal('show');
            },
            updateSchedules (index) {
                return true;
            }
        }
    }
</script>
