<template>
    <div class="panel-body">
        <div class="alert alert-danger" v-if="movement_error != ''">
            {{movement_error}}
        </div>
        <div class="form-group">
            <label class="control-label col-md-6"> Agrega los productos a entregar (click en botón "Agregar")</label>
            <div class="col-sm-4">
                <select name="product" id="product" class="select2 form-control">
                    <!--<template v-for="product in warehouse_products">-->
                        <option v-for="product in warehouse_products" :key="product" :value="product.id" :data-amount="product.amount" :data-code="product.code">{{product.name}} ({{product.code}})</option>
                    <!--</template>-->
                </select>
            </div>
            <div class="col-sm-1">
                <input type="button" class="btn btn-success" id="addProduct" v-on:click="addProduct" value="Añadir"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <table class="table" id="productsTable">
                    <tbody>
                        <tr>
                            <th>Código</th>
                            <th>Nombre del producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Opciones</th>
                        </tr>
                        <tr v-for="(product, index) in products" :key="product.id">
                            <td>
                                {{product.code}}
                            </td>
                            <td>
                                {{product.name}}
                            </td>
                            <td>
                                <input class='form-control' type='number' min='1' v-model="product.qty"/>
                            </td>
                            <td>
                                <input class='form-control' type='number' step='any' min='0' v-model="product.price"/>
                            </td>
                            <td>
                                {{product.price * product.qty}}
                            </td>
                            <td>
                                <button class='btn btn-danger' @click="removeProduct(index, product.id)">Borrar</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal:</td>
                            <td>{{total(products)}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Descuento:</td>
                            <td>{{warehouse_movement.discount}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total:</td>
                            <td>{{total(products) - warehouse_movement.discount}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label"> Descuento:</label>
            </div>
            <div class="col-md-4">
                <input class='form-control' type='number' min='0' step="0.01" v-model="warehouse_movement.discount" />
            </div>
            <div class="col-md-2">
                <label class="control-label"> Proveedor:</label>
            </div>
            <div class="col-md-4">
                <input class='form-control' type='text' v-model="warehouse_movement.provider" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label"> Folio de nota:</label>
            </div>
            <div class="col-md-4">
                <input class='form-control' type='text' v-model="warehouse_movement.note_folio" />
            </div>
            
            <div class="col-md-2">
                <label class="control-label"> Imagen nota:</label>
            </div>
            <div class="col-md-4">
                <input type="file" class="form-control" v-on:change="newAvatar">
                <!--<input type="file" id="file" ref="file" v-on:change="handleFileUpload"/>-->
            </div>
            
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <input type="button" class="btn btn-default" value="Guardar" @click="addWarehouseMovement">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['warehouse_products'],
        data() {
            return {
                warehouse_movement: {
                    discount: 0,
                    provider: '',
                    note_folio: '',
                    image: null,
                    type: 1,
                },
                image: null,
                products: [],
                movement_error: '',
            };
        },
        mounted: function () {
            $('#product').select2();
        },
        methods: {
            handleFileUpload() {
                // alert("hola");
                this.image = this.$refs.file.files[0];
                // alert(this.$refs.file.files[0]);
                // alert(JSON.stringify(this.image));
                // alert(this.image);
            },
            newAvatar(event) {
               let files = event.target.files;
               if (files.length > 0) {
                    this.image = event.target.files[0];
                    // alert("hola");
                    // alert(JSON.stringify(event));
                    //alert(JSON.stringify(event.target));
                    // alert(JSON.stringify(this.image));
                    // alert(this.image);
                    //alert(this.$refs.image.files[0]);
               }
            },
            total (products) {
                var total = 0;
                for (var i = 0; i < products.length; i++) {
                    total += products[i].price * products[i].qty;
                }
                return total;
            },
            addProduct () {
                if($("#product").val() != null) {
                    this.products.push({
                        id : $("#product").val(),
                        name : $("#product option:selected").text(),
                        code: $("#product option:selected").data('code'),
                        amount: $("#product option:selected").data('amount'),
                        qty: 1,
                        price: 0,
                        subtotal: 0
                    });
                    $('#product option:selected').attr('disabled','disabled');
                    $("#product").val("");
                    $('#product').select2();
                }
            },
            removeProduct(index, id) {
                this.products.splice(index, 1);
                $('#product option[value="' + id + '"]').removeAttr('disabled');
                $('#product').select2();
            },
            addWarehouseMovement() {
                this.movement_error = '';
                var data = {
                    warehouse_movement: this.warehouse_movement,
                    products: this.products,
                    image: this.image,
                }
                
                this.$http.post('/home/warehouse/movements/storeEntry2', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })    
                .then(function (response) {
                    this.movement_error = JSON.stringify(response);
                    //window.location = "/home/warehouse/movements";
                },function (error) {
                    this.movement_error = JSON.stringify(error);
                    //this.movement_error = error.data.message;
                    $(window).scrollTop(0);
                }); 
            }
        }
    }
</script>
