<template>
<div>
    <div class="alert alert-danger" v-if="request_error != ''">
        {{request_error}}
    </div>
    <div class="form-group" v-if="action == 'create'">
        <label class="col-sm-6 control-label"> Seleccione la cantidad de productos a solicitar en almacen:</label>
    </div>

    <div class="form-group" v-if="action == 'create'">
        <label for="code" class="col-sm-3 control-label">Clave de empleado *</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" v-model="employee.code" required="required">
        </div>

        <label for="password" class="col-sm-3 control-label">Contraseña de empleado *</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" v-model="employee.password" required="required">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Uso</th>
                        <th>En inventario</th>
                        <th>Deben haber</th>
                        <th>Cantidad a pedir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="warehouse_product in warehouse_products" :key="warehouse_product.id">
                        <td>{{ warehouse_product.code }} {{ warehouse_product.id }}</td>
                        <td>{{ warehouse_product.name }}</td>
                        <td>{{ uses[warehouse_product.use] }}</td>
                        <td>
                            <input type="number" min="0" class="form-control" v-model="warehouse_product.existence"  />
                        </td>
                        <td>
                            {{mustHave(warehouse_product)}}
                        </td>
                        <td>
                            {{updateQty(warehouse_product)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-9 col-sm-1">
            <input type="button" class="btn btn-default" value="Guardar" @click="addWarehouseRequest">
        </div>
        <div class="col-sm-1" v-if="action == 'edit'">
            <a :href="'/home/warehouse/requests/'+warehouse_request.id+'/show'" class="btn btn-default">Confirmar</a>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        props: ['warehouse_products', 'uses', 'subsidiary', 'action', 'warehouse_request'],
        data() {
            return {
                employee: {
                    code: '',
                    password: '',
                },
                request_error: '',
            };
        },
        mounted: function () {
            var warehouse_req_prod = null;
            if(this.warehouse_request && this.warehouse_request.products) {
                for (var i = 0; i < this.warehouse_request.products.length; i++) {
                    warehouse_req_prod = this.warehouse_request.products[i]; 
                    for (var i2 = 0; i2 < this.warehouse_products_global.length; i2++) {
                        if(warehouse_req_prod.warehouse_product_id == this.warehouse_products_global[i2].id) {
                            this.warehouse_products_global[i2].existence = warehouse_req_prod.existence; 
                        } 
                    }
                }
            } 
        },
        computed: {
        },
        methods: {
            mustHave: function (product) {
                var currentExistence = this.existenceBySubsidiary(product);
                if(currentExistence != null) {
                    return parseInt(currentExistence.must_have);
                }
                return 0;
            },
            updateQty: function (product) {

                product.quantity = this.mustHave(product) - parseInt(product.existence);
                if(product.quantity <= 0 || isNaN(product.quantity)) {
                    product.quantity = 0;
                }
                return product.quantity;
            },
            existenceBySubsidiary(product) {
                if(product.existences) {
                    for (var i = 0; i < product.existences.length; i++) {
                        if(product.existences[i].subsidiary_id == this.subsidiary.id) {
                            return product.existences[i];
                        }
                    }
                }
                return null;
            },
            existenceValue(warehouse_product) {

                if(warehouse_product.product != null) {
                    var subsidiaries = warehouse_product.product.subsidiaries;
                    for (var i = 0; i < subsidiaries.length; i++) {
                        if(subsidiaries[i].id == this.subsidiary.id) {
                            return subsidiaries[i].pivot.existence;
                        }
                    }
                }
                var existenceObject = this.existenceBySubsidiary(warehouse_product);
                if(existenceObject != null) {
                    return existenceObject.existence;
                }
                return 0;
            },
            addWarehouseRequest() {

                for (var i = 0; i < this.warehouse_products.length; i++) {
                    this.warehouse_products[i].must_have = this.mustHave(this.warehouse_products[i]);
                    this.warehouse_products[i].quantity = this.warehouse_products[i].must_have - parseInt(this.warehouse_products[i].existence);
                }

                this.request_error = '';
                var data = {
                    employee: this.employee,
                    warehouse_request: this.warehouse_request,
                    warehouse_products: this.warehouse_products
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };
                
                if(this.action == "create") {
                    this.$http.post('/home/warehouse/requests/store2', data, {
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        }
                    })    
                    .then(function (response) {
                        window.location = "/home/warehouse/requests";
                    },function (error) {
                        this.request_error = error.data.message;
                        $(window).scrollTop(0);
                    });
                } else {
                    this.$http.post('/home/warehouse/requests/'+ this.warehouse_request
                    .id +'/update2', data, {headers})
                    .then(function (response) {
                        window.location = "/home/warehouse/requests";
                    },function (error) {
                        this.request_error = error.data.message;
                        $(window).scrollTop(0);
                    });
                }
            }
        }
    }
</script>
