<template>
<div>
    <div class="alert alert-danger" v-if="product_error">
        {{product_error}}
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Producto(s)</p>    
        </div>
        <div class="col-md-3">
            <select name="warehouse_product" id="warehouse_product" class="select2 form-control" style="width:100%;">
                <!--<template v-for="warehouse_product in warehouse_products">-->
                    <option v-for="warehouse_product in warehouse_products" 
                    :key="warehouse_product"
                    :value="warehouse_product.id"
                    :data-code="warehouse_product.code"
                    :data-name="warehouse_product.name"
                    :data-existence="warehouse_product.in_storage"
                    >{{ warehouse_product.name }} ({{warehouse_product.code}})</option>
                <!--</template>-->
            </select>
        </div>
        <div class="col-md-1">
            <input type="button" class="btn btn-success" @click="addProduct()" value="Añadir"/>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre producto</th>
                <th>Cantidad existente</th>
                <th>Ajuste</th>
                <th>Cantidad real</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product, index) in products" :key="product.id">
                <td> {{product.code}} </td>
                <td> {{product.name}} </td>
                <td> {{product.existence}} </td>
                <td>
                    <input type="number" :name="'products['+index+'][qty]'" @change="updateQty(product)" v-model="product.qty">
                </td>
                <td>
                    {{product.real_existence}}
                    <button type="button" class="btn btn-link" @click="removeRow(product)">&times;</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
            <button type="button" class="btn btn-default" @click="createAdjustment">Guardar</button>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        props: ['warehouse_products'],
        data() {
            return {
                product_error: false,
                products: []
            };
        },
        methods: {
            addProduct () {
                if($('#warehouse_product').val() != null) {
                    this.products.push({
                        id: $('#warehouse_product option:selected').val(),
                        code: $('#warehouse_product option:selected').data("code"),
                        name: $('#warehouse_product option:selected').data("name"),
                        qty: 0,
                        existence: $('#warehouse_product option:selected').data("existence"),
                        real_existence: $('#warehouse_product option:selected').data("existence")
                    });
                    $('#warehouse_product option:selected').attr('disabled','disabled');
                    $("#warehouse_product").val("");
                    $('#warehouse_product').select2();
                }
            },
            removeRow (product) {
                var index = this.products.indexOf(product);
                this.products.splice(index, 1);
                $('#warehouse_product option[value="' + product.id + '"]').removeAttr('disabled');
                $('#warehouse_product').select2();
            },
            createAdjustment () {
                this.sale_error = false;
                var data = {
                    products: this.products,
                }
                
                this.$http.post('/home/inventories/warehouse/adjustments/store', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(function (response) {
                    window.location = "/home/inventories/warehouse/adjustments";
                },function (error) {
                    //this.product_error = JSON.stringify(error);
                    //alert("se debió mostrar");
                    this.products_error = error.error;
                });
            },
            updateQty (product) {
                product.real_existence = parseInt(product.existence) + parseInt(product.qty);
            },
        }
    }
</script>
