
// Body
//$body-bg: #f5f8fa;
//$body-bg: #d7dada;
$body-bg: #f1f1f1;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
//$brand-primary: #3097D1;
$brand-primary: #043570;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
//$text-color: #636b6f;
$text-color: #043570;

// Navbar
//$navbar-default-bg: #fff;
//$navbar-default-bg: #d7dada;
$navbar-default-bg: #043570;

// Buttons
$btn-default-color: #043570;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
//$panel-default-heading-bg: #d7dada;
