
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 80px;
  background-color: $body-bg;
}

.btn-clock {
    position: fixed;
    bottom: 100px;
    left: 100px;
    border-radius: 50%;
}

.btn-shop {
    position: fixed;
    bottom: 150px;
    left: 100px;
    border-radius: 50%;
}

.danger-animation {
  animation-duration: 1s;
  animation-name: titile;
  animation-iteration-count: infinite;
}

@keyframes titile {
  from {
    color: #333333;
    background-color: #fff;
    border-color: #d3e0e9;
  }

  to {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.show-in-print {
  display: none;
}

@media print {
  .show-in-print {
    display: block;
  }
  .hide-in-print {
    display: none;
  }
}

.table-scroll {
  > thead > tr {
    display: block;
  }
  > tbody {
    max-height: 400px;
    overflow: auto;
    display: block;
  }
}

.display-none {
  display: none;
}

.navbar-nav > li > a, .navbar-brand, .hamburger {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-weight: bold !important;
}

.navbar-nav > li > a {
    cursor: pointer;
    font-weight: 400;
}
.navbar-icon {
    padding-top: 3px;
    position: relative;
    .icon {
        font-size: 21px;
    }
}
.custom-nav-profile-picture {
    border: 2px solid #d3e0e9;
    border-radius: 50%;
    padding: 2px;
    height: 50px;
    width: 50px;
}

.panel-flush .panel-body, .panel-flush .panel-header {
    padding: 0;
}

.panel-body {
    background-color: $panel-default-heading-bg;
}

.custom-stacked-pills li a:active,
.custom-stacked-pills li a:hover,
.custom-stacked-pills li a:link,
.custom-stacked-pills li a:visited {
    background-color: white;
}
.custom-stacked-pills li.active a {
    border-left: 3px solid #3097D1;
}
.nav > li > a {
    position: relative;
    padding: 10px 10px;
}
.custom-stacked-pills a {
    border-bottom: 1px solid #e4ecf2;
    border-left: 3px solid transparent;
    color: #636b6f;
}

.tab-content {
    padding: 10px;
    border-top: 0;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}


.emoji {
    width: 20%;
    text-align: center;
    &.checked label{
        font-weight: bold;
        font-size: 18px;
    }
    input[type="radio"]:checked + label{
        font-weight: bold;
        font-size: 18px;
    }
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 40px;
}

.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}

.badge-error {
  background-color: #3E1019;
}
.badge-error:hover {
  background-color: #3E1019;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.dropdown-menu {
  z-index: 10000;
}

.dropdown-menu > li > a {
  color: $text-color;
}

.panel-default>.panel-heading {
  color: white;
  background-color: $navbar-default-bg;
  border-color: #bdc1c1;
  font-weight: bold;
}

.help-block {
  color:white;
}

.alert-info {
  background-color: #19947c;
  border-color: #285f31;
  color: white;
  font-weight: bold;
}

.btn {
  font-weight: bold;
}

.form-control {
  border-color: gray
}

.header-link {
  text-decoration: underline;
  color: whitesmoke
}

.header-link:hover {
  color: whitesmoke
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.vdp-datepicker .input-group {
  width: 100%;
}

.vdp-datepicker input {
  background: white !important;
}

@media (min-width: 1200px) {
  .container {
    width: 1300px !important;
  }
}

#page-content-wrapper {
  padding-top: 0px !important;
}

.sidebar-nav {
  background: $navbar-default-bg !important;
}

#sidebar-wrapper {
  background: $navbar-default-bg;
}

#sidebar-wrapper .dropdown-menu {
  color: white;
  background-color: rgb(143, 74, 88);
}

.sidebar-nav li:before {
  background-color: #0d2d54;
}

.sidebar-nav .dropdown-menu li:before {
  background-color: #0d2d54;
}

.sidebar-nav .dropdown-menu > li > a {
  color: white;
}

.sidebar-nav li.active a {
  background-color: #0d2d54 !important;
}

.sidebar-nav li:first-child a {
  color: white;
  background-color: rgb(143, 74, 88);
}

.sidebar-brand a {
  background-color: $navbar-default-bg !important;
}

.sidebar-nav > li > a:hover, .dropdown-toggle:hover {
  text-decoration: none;
  background-color: #0d2d54 !important;
}

.dropdown-toggle, .sidebar-nav > li > a:focus {
  text-decoration: none;
  background-color: $navbar-default-bg !important;
}

#page-content-wrapper .is-closed {
  height: 40px !important;
}

.services-table {
  .row {
    border-top: 1px solid lightgray;
    margin: 5px;
  }
}

.total-services-link {
  text-decoration: underline;
  color: rgb(0, 0, 238);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    color: #fff;
    background-color: #211270;
  }

}
