<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{title}}</h2>
        </div>
        <div class="panel-body text-center" v-show="hasRequest">
            <button class="btn btn-lg btn-success" @click="acceptSurvey">{{message}}</button>
            <button class="btn btn-lg btn-danger" @click="deniedSurvey">No, en otro momento</button>
        </div>

        <div class="panel-body" v-show="sadMessage">
            <h3>Gracias por tu tiempo, que tengas un excelente dia.</h3>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['subsidiary_key'],
        data() {
            return {
                hasRequest: false,
                sadMessage: false,
                sale_id: 0,
                subsidiary_id: 0,
                customer_name: '',
                message: 'Si, por supuesto',
                loading: false
            }
        },
        mounted: function () {
            Echo.channel(`survey.${this.subsidiary_key}`)
            .listen('MakeSurvey', (e) => {
                this.sale_id = e.sale_id;
                this.subsidiary_id = e.subsidiary_id;
                this.customer_name = e.customer_name;
                this.hasRequest = true;
            });
        },
        computed: {
            title() {
                return !this.hasRequest 
                    ? 'Esperando solicitud..' 
                    : `Bienvenido ${this.customer_name}, ¿podria contestar la encuesta?`;
            }
        },
        methods: {
            acceptSurvey() {
                if (!this.loading) {
                    this.loading = true;
                    this.message = 'Cargando...';
                    this.makeSurvey().then(response => {
                        window.location.href = `/surveys/${response.data.survey.id}/edit`;
                    }, error => {
                        alert('ocurrio un error, intenta de nuevo por favor.: ' + error.statusText);
                        this.loading = false;
                        this.message = 'Si, por supuesto';
                    });
                }
            },
            deniedSurvey() {
                this.makeSurvey().then(response => {
                    this.hasRequest = false;
                    this.sadMessage = true;
                    setTimeout(() => {
                        this.sadMessage = false;
                    }, 2000);
                }, error => {});
            },
            makeSurvey() {
                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };
                return this.$http.post('/surveys', this.$data, {headers});
            }
        }
    }
</script>
